In [1]:
import sys
sys.prefix

'c:\\Users\\anshu\\OneDrive\\Code\\Python\\Python\\Python_DSA\\env'

In [8]:
l1 = []
sys.getsizeof(l1)

56

In [9]:
for idx, _ in enumerate(range(20)):
    l1.append(_)
    print(f'{_=}, {sys.getsizeof(l1)}, \t addresses ==> element={id(_)} list_element={id(l1[idx])}')

_=0, 88, 	 addresses ==> element=140726941508488 list_element=140726941508488
_=1, 88, 	 addresses ==> element=140726941508520 list_element=140726941508520
_=2, 88, 	 addresses ==> element=140726941508552 list_element=140726941508552
_=3, 88, 	 addresses ==> element=140726941508584 list_element=140726941508584
_=4, 120, 	 addresses ==> element=140726941508616 list_element=140726941508616
_=5, 120, 	 addresses ==> element=140726941508648 list_element=140726941508648
_=6, 120, 	 addresses ==> element=140726941508680 list_element=140726941508680
_=7, 120, 	 addresses ==> element=140726941508712 list_element=140726941508712
_=8, 184, 	 addresses ==> element=140726941508744 list_element=140726941508744
_=9, 184, 	 addresses ==> element=140726941508776 list_element=140726941508776
_=10, 184, 	 addresses ==> element=140726941508808 list_element=140726941508808
_=11, 184, 	 addresses ==> element=140726941508840 list_element=140726941508840
_=12, 184, 	 addresses ==> element=140726941508872 list_element=140726941508872
_=13, 184, 	 addresses ==> element=140726941508904 list_element=140726941508904
_=14, 184, 	 addresses ==> element=140726941508936 list_element=140726941508936
_=15, 184, 	 addresses ==> element=140726941508968 list_element=140726941508968
_=16, 248, 	 addresses ==> element=140726941509000 list_element=140726941509000
_=17, 248, 	 addresses ==> element=140726941509032 list_element=140726941509032
_=18, 248, 	 addresses ==> element=140726941509064 list_element=140726941509064
_=19, 248, 	 addresses ==> element=140726941509096 list_element=140726941509096

In [ ]:
import pandas as pd
from datetime import datetime, timedelta

def generate_weekly_calendar(year):
    start_date = datetime(year, 1, 1)
    
    start_date -= timedelta(days=start_date.weekday())
    end_date = datetime(year, 12, 31)

    weeks = []
    current_date = start_date
    year_week = 1

    while current_date <= end_date:
        from_date = current_date
        to_date = from_date + timedelta(days=6)

        month = from_date.strftime('%b') if from_date.day < to_date.day\
                else to_date.strftime('%b')

        month_start = datetime(from_date.year, from_date.month, 1)
        first_week_start = month_start - timedelta(days=month_start.weekday())
        month_week = ((from_date - first_week_start).days // 7) + 1

        weeks.append({
            'Month': month,
            'Month Week': month_week,
            'Year Week': year_week,
            'From Date': from_date.strftime('%d-%b-%y'),
            'To Date': to_date.strftime('%d-%b-%y')
        })

        current_date += timedelta(days=7)
        year_week += 1

    return pd.DataFrame(weeks)

generate_weekly_calendar(2025)

   Month  Month Week  Year Week  From Date    To Date
0    Jan           6          1  30-Dec-24  05-Jan-25
1    Jan           2          2  06-Jan-25  12-Jan-25
2    Jan           3          3  13-Jan-25  19-Jan-25
3    Jan           4          4  20-Jan-25  26-Jan-25
4    Feb           5          5  27-Jan-25  02-Feb-25
5    Feb           2          6  03-Feb-25  09-Feb-25
6    Feb           3          7  10-Feb-25  16-Feb-25
7    Feb           4          8  17-Feb-25  23-Feb-25
8    Mar           5          9  24-Feb-25  02-Mar-25
9    Mar           2         10  03-Mar-25  09-Mar-25
10   Mar           3         11  10-Mar-25  16-Mar-25
11   Mar           4         12  17-Mar-25  23-Mar-25
12   Mar           5         13  24-Mar-25  30-Mar-25
13   Apr           6         14  31-Mar-25  06-Apr-25
14   Apr           2         15  07-Apr-25  13-Apr-25
15   Apr           3         16  14-Apr-25  20-Apr-25
16   Apr           4         17  21-Apr-25  27-Apr-25
17   May           5         18  28-Apr-25  04-May-25
18   May           2         19  05-May-25  11-May-25
19   May           3         20  12-May-25  18-May-25
20   May           4         21  19-May-25  25-May-25
21   Jun           5         22  26-May-25  01-Jun-25
22   Jun           2         23  02-Jun-25  08-Jun-25
23   Jun           3         24  09-Jun-25  15-Jun-25
24   Jun           4         25  16-Jun-25  22-Jun-25
25   Jun           5         26  23-Jun-25  29-Jun-25
26   Jul           6         27  30-Jun-25  06-Jul-25
27   Jul           2         28  07-Jul-25  13-Jul-25
28   Jul           3         29  14-Jul-25  20-Jul-25
29   Jul           4         30  21-Jul-25  27-Jul-25
30   Aug           5         31  28-Jul-25  03-Aug-25
31   Aug           2         32  04-Aug-25  10-Aug-25
32   Aug           3         33  11-Aug-25  17-Aug-25
33   Aug           4         34  18-Aug-25  24-Aug-25
34   Aug           5         35  25-Aug-25  31-Aug-25
35   Sep           1         36  01-Sep-25  07-Sep-25
36   Sep           2         37  08-Sep-25  14-Sep-25
37   Sep           3         38  15-Sep-25  21-Sep-25
38   Sep           4         39  22-Sep-25  28-Sep-25
39   Oct           5         40  29-Sep-25  05-Oct-25
40   Oct           2         41  06-Oct-25  12-Oct-25
41   Oct           3         42  13-Oct-25  19-Oct-25
42   Oct           4         43  20-Oct-25  26-Oct-25
43   Nov           5         44  27-Oct-25  02-Nov-25
44   Nov           2         45  03-Nov-25  09-Nov-25
45   Nov           3         46  10-Nov-25  16-Nov-25
46   Nov           4         47  17-Nov-25  23-Nov-25
47   Nov           5         48  24-Nov-25  30-Nov-25
48   Dec           1         49  01-Dec-25  07-Dec-25
49   Dec           2         50  08-Dec-25  14-Dec-25
50   Dec           3         51  15-Dec-25  21-Dec-25
51   Dec           4         52  22-Dec-25  28-Dec-25
52   Jan           5         53  29-Dec-25  04-Jan-26

In [5]:
import pandas as pd
from datetime import datetime, timedelta

def generate_weekly_calendar(year):
    start_date = datetime(year, 1, 1)
    start_date -= timedelta(days=start_date.weekday())
    end_date = datetime(year, 12, 31)

    data = []
    year_week = 1

    while start_date <= end_date:
        from_date = start_date
        to_date = from_date + timedelta(days=6)

        mid_date = from_date + timedelta(days=3)
        month = mid_date.strftime('%b')

        month_start = datetime(mid_date.year, mid_date.month, 1)
        first_monday = month_start - timedelta(days=month_start.weekday())
        month_week = ((from_date - first_monday).days // 7) + 1

        data.append({
            'Month': month,
            'Month Week': month_week,
            'Year Week': year_week,
            'From Date': from_date.strftime('%d-%b-%y'),
            'To Date': to_date.strftime('%d-%b-%y')
        })

        start_date += timedelta(days=7)
        year_week += 1

    return pd.DataFrame(data)

generate_weekly_calendar(2025)

   Month  Month Week  Year Week  From Date    To Date
0    Jan           1          1  30-Dec-24  05-Jan-25
1    Jan           2          2  06-Jan-25  12-Jan-25
2    Jan           3          3  13-Jan-25  19-Jan-25
3    Jan           4          4  20-Jan-25  26-Jan-25
4    Jan           5          5  27-Jan-25  02-Feb-25
5    Feb           2          6  03-Feb-25  09-Feb-25
6    Feb           3          7  10-Feb-25  16-Feb-25
7    Feb           4          8  17-Feb-25  23-Feb-25
8    Feb           5          9  24-Feb-25  02-Mar-25
9    Mar           2         10  03-Mar-25  09-Mar-25
10   Mar           3         11  10-Mar-25  16-Mar-25
11   Mar           4         12  17-Mar-25  23-Mar-25
12   Mar           5         13  24-Mar-25  30-Mar-25
13   Apr           1         14  31-Mar-25  06-Apr-25
14   Apr           2         15  07-Apr-25  13-Apr-25
15   Apr           3         16  14-Apr-25  20-Apr-25
16   Apr           4         17  21-Apr-25  27-Apr-25
17   May           1         18  28-Apr-25  04-May-25
18   May           2         19  05-May-25  11-May-25
19   May           3         20  12-May-25  18-May-25
20   May           4         21  19-May-25  25-May-25
21   May           5         22  26-May-25  01-Jun-25
22   Jun           2         23  02-Jun-25  08-Jun-25
23   Jun           3         24  09-Jun-25  15-Jun-25
24   Jun           4         25  16-Jun-25  22-Jun-25
25   Jun           5         26  23-Jun-25  29-Jun-25
26   Jul           1         27  30-Jun-25  06-Jul-25
27   Jul           2         28  07-Jul-25  13-Jul-25
28   Jul           3         29  14-Jul-25  20-Jul-25
29   Jul           4         30  21-Jul-25  27-Jul-25
30   Jul           5         31  28-Jul-25  03-Aug-25
31   Aug           2         32  04-Aug-25  10-Aug-25
32   Aug           3         33  11-Aug-25  17-Aug-25
33   Aug           4         34  18-Aug-25  24-Aug-25
34   Aug           5         35  25-Aug-25  31-Aug-25
35   Sep           1         36  01-Sep-25  07-Sep-25
36   Sep           2         37  08-Sep-25  14-Sep-25
37   Sep           3         38  15-Sep-25  21-Sep-25
38   Sep           4         39  22-Sep-25  28-Sep-25
39   Oct           1         40  29-Sep-25  05-Oct-25
40   Oct           2         41  06-Oct-25  12-Oct-25
41   Oct           3         42  13-Oct-25  19-Oct-25
42   Oct           4         43  20-Oct-25  26-Oct-25
43   Oct           5         44  27-Oct-25  02-Nov-25
44   Nov           2         45  03-Nov-25  09-Nov-25
45   Nov           3         46  10-Nov-25  16-Nov-25
46   Nov           4         47  17-Nov-25  23-Nov-25
47   Nov           5         48  24-Nov-25  30-Nov-25
48   Dec           1         49  01-Dec-25  07-Dec-25
49   Dec           2         50  08-Dec-25  14-Dec-25
50   Dec           3         51  15-Dec-25  21-Dec-25
51   Dec           4         52  22-Dec-25  28-Dec-25
52   Jan           1         53  29-Dec-25  04-Jan-26