In [1]:
print('Hello!')

Hello!

In [5]:
import time

In [6]:
# Nested List Comprehensions
start = time.time()
[ [ (i, j) for j in range(3)] for i in range(3)]
print('Nested List Comprehensions:', time.time() - start)

Nested List Comprehensions: 0.00010395050048828125

In [13]:
# Nested Loops

start = time.time()
pairs = [ (f'j={j}, i={i}')\
    for j in range(30)\
    for i in range(30)
]
# print(pairs)
print('Nested Loops:', time.time() - start)

Nested Loops: 0.0002601146697998047

In [14]:
# Nested Loops

start = time.time()
pairs = []
for j in range(30):
    for i in range(30):
        pairs.append(f'j={j}, i={i}')

# print(pairs)
print('Nested Loops:', time.time() - start)

Nested Loops: 0.00016808509826660156

In [17]:
num = 44
print('Even' if num % 2 == 0 else 'Odd')

Even

In [18]:
table.table-list>tr>td.list-item*4

NameError: name 'table' is not defined

In [20]:
# Closures

def outer_func(msg):
    message = msg

    def inner_func():
        print(message)

    return inner_func

In [21]:
func = outer_func(5)

In [23]:
func.__closure__

(<cell at 0x121a00160: int object at 0x103a16120>,)

In [26]:
for _ in func.__closure__[0]:
    print(_)

TypeError: 'cell' object is not iterable

In [27]:
func.__closure__[0].cell_contents

5

In [28]:
func.__closure__[1].cell_conten

IndexError: tuple index out of range

In [29]:
len(func.__closure__)

1

In [33]:
# Closures

def outer_func(msg):
    message = msg
    FINAL = 10

    def inner_func():
        print(message, FINAL)

    return inner_func

In [34]:
func = outer_func(5)
len(func.__closure__)

2

In [35]:
func.__closure__[0].cell_contents

10

In [36]:
func.__closure__[1].cell_contents

5

In [37]:
[cell.cell_contents for cell in func.__closure__]

[10, 5]

In [41]:
def mult(a, b):
    return a * b

def double_args(func):
    def wrapper(a, b):
        return func(a * 2, b * 2)
    return wrapper

In [42]:
mult(2, 3)

6

In [43]:
double_args(mult)(2, 3)

24

In [44]:
@double_args
def multifly(a, b):
    return a * b

In [45]:
multifly(2, 3)

24

In [46]:
has_connection: bool = False

assert has_connection, 'No connection ... '

AssertionError: No connection ...

In [5]:
import time

def timer(func):
    def wrapper(*args, **kwargs):
        start = time.time()
        result = func(*args, **kwargs)
        end = time.time()
        print(f'{func.__name__} took {end - start} seconds')
        return result
    return wrapper

In [51]:
@timer
def gen_list():
    lst = [num for num in range(100000)]
    print(len(lst))

gen_list()

100000
gen_list took 0.004456043243408203 seconds

In [49]:
@timer
def gen_genrator():
    (num for num in range(100000))

gen_genrator()

gen_genrator took 9.5367431640625e-07 seconds

In [58]:
def memoize(func):
    cache = {}
    def wrapper(*args, **kwargs):
        if args in cache:
            return cache[args]
        result = func(*args, **kwargs)
        cache[args] = result
        return result
    return wrapper

In [59]:
def slow_func_1(a, b):
    time.sleep(5)
    return a + b

slow_func_1(2, 3)

5

In [62]:
@memoize
@timer
def slow_func_2(a, b):
    time.sleep(5)
    return a + b

slow_func_2(2, 3)

slow_func_2 took 5.004327058792114 seconds

5

In [64]:
slow_func_2(2, 3)

5

In [1]:
def sleep_n_seconds(n=10) -> None:
    '''
    sleep_n_seconds _summary_

    Parameters
    ----------
    n : int, optional
        _description_, by default 10

    Returns
    -------
    None
    '''
    time.sleep(n)

In [3]:
print(sleep_n_seconds.__doc__)

sleep_n_seconds _summary_

Parameters
----------
n : int, optional
    _description_, by default 10

Returns
-------
None

In [6]:
@timer
def sleep_n_seconds(n=10) -> None:
    '''
    sleep_n_seconds _summary_

    Parameters
    ----------
    n : int, optional
        _description_, by default 10

    Returns
    -------
    None
    '''
    time.sleep(n)

print(sleep_n_seconds.__doc__)

None

In [7]:
import time
import functools as fnt

def timer(func):
    @fnt.wraps(func)
    def wrapper(*args, **kwargs):
        start = time.time()
        result = func(*args, **kwargs)
        end = time.time()
        print(f'{func.__name__} took {end - start} seconds')
        return result
    return wrapper

@timer
def sleep_n_seconds(n=10) -> None:
    '''
    sleep_n`_seconds _summary_

    Parameters
    ----------
    n : int, optional
        _description_, by default 10

    Returns
    -------
    None
    '''
    time.sleep(n)

print(sleep_n_seconds.__doc__)

sleep_n_seconds _summary_

Parameters
----------
n : int, optional
    _description_, by default 10

Returns
-------
None

In [8]:
def check_everything(func):
    @wraps(func)
    def wrapper(*args, **kwargs):
        check_inputs(*args, **kwargs)
        result = func(*args, **kwargs)
        check_outputs(result)
        return result
    return wrapper

In [9]:
# Decorators that take arguments
def run_n_times(n):
    def decorator(func):
        @fnt.wraps(func)
        def wrapper(*args, **kwargs):
            for _ in range(n):
                result = func(*args, **kwargs)
            return result
        return wrapper
    return decorator

In [12]:
run_3_times = run_n_times(3)

In [15]:
@run_n_times(5)
def print_hello():
    print('Hello!')

In [16]:
print_hello()

Hello!
Hello!
Hello!
Hello!
Hello!

In [18]:
pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp313-cp313-macosx_11_0_arm64.whl.metadata (89 kB)
Requirement already satisfied: numpy>=1.26.0 in ./env/lib/python3.13/site-packages (from pandas) (2.2.1)
Requirement already satisfied: python-dateutil>=2.8.2 in ./env/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in ./env/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.2.3-cp313-cp313-macosx_11_0_arm64.whl (11.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.3/11.3 MB 11.2 MB/s eta 0:00:0000:010:01
Downloading pytz-2024.2-py2.py3-none-any.whl (508 kB)
Downloading tzdata-2025.1-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.2.3 pytz-2024.2 tzdata-2025.1
Note: you may need to restart the kernel to use updated packages.

In [19]:
import pandas as pd

data = {'date': ['2018-01-15', '2018-01-15', '2018-01-16', '2018-01-16', '2018-01-17'],
        'product_line': ['Health and beauty', 'Electronic accessories', 'Home and lifestyle', 'Sports', 'Food and beverages'],
        'product': ['Shampoo', 'Headphones', 'Lamp', 'Yoga mat', 'Milk'],
        'unit_price': [6.99, 25.28, 46.33, 39.99, 5.99],
        'quantity': [7, 5, 3, 5, 8]}

df = pd.DataFrame(data)

print(df)

         date            product_line     product  unit_price  quantity
0  2018-01-15       Health and beauty     Shampoo        6.99         7
1  2018-01-15  Electronic accessories  Headphones       25.28         5
2  2018-01-16      Home and lifestyle        Lamp       46.33         3
3  2018-01-16                  Sports    Yoga mat       39.99         5
4  2018-01-17      Food and beverages        Milk        5.99         8

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          5 non-null      object
 1   product_line  5 non-null      object
 2   product       5 non-null      object
 3   unit_price    5 non-null      float64
 4   quantity      5 non-null      int64
dtypes: float64(1), int64(1), object(3)
memory usage: 332.0+ bytes

In [20]:
def range(column):
    return column.max() - column.min()

In [26]:
df[['unit_price', 'quantity']].apply(range)

unit_price    40.34
quantity       5.00
dtype: float64

In [27]:
print(df[['unit_price', 'quantity']].apply(range))

unit_price    40.34
quantity       5.00
dtype: float64

In [31]:
print(df[['unit_price', 'quantity']].agg(range))

unit_price    40.34
quantity       5.00
dtype: float64

In [32]:
def some_func(m1, m2, m3, o1='Default', o2=False, o3=10):
    print(m1, m2, m3, o1, o2, o3)

In [38]:
def some_func_set1(m1, m2, m3, o2=True):
    some_func(m1, m2, m3, o2=o2)

def some_func_set2(m1, m2, m3, o3=5):
    some_func(m1, m2, m3, o3=o3)

def some_func_set3(m1, m2, m3, o1='Enhanced'):
    some_func(m1, m2, m3, o1=o1)

In [41]:
some_func_set2(1, 2, 3, o3=False)

1 2 3 Default False False

In [42]:
import functools as fnt

In [44]:
fnt.partial(some_func, o1='Test')(1, 2, 3)

1 2 3 Test False 10

In [1]:
import pandas as pd

df = pd.DataFrame(
        {   'city': ['NYC', 'SF', 'LA', 'BOSTON']
        ,   'day1': [68.3, 75.1, 80.3, 63.0]
        ,   'day2': [67.9, 75.5, 84.0, 61.0]
        ,   'day3': [67.8, 74.9, 81.3, 61.2]
        }
    )
df

     city  day1  day2  day3
0     NYC  68.3  67.9  67.8
1      SF  75.1  75.5  74.9
2      LA  80.3  84.0  81.3
3  BOSTON  63.0  61.0  61.2

In [6]:
print(df['day1'].mean())
df.iloc[:,1:].mean(axis=0)

71.675

day1    71.675
day2    72.100
day3    71.300
dtype: float64

In [30]:
import numpy as np

In [37]:
print(df.iloc[0,1:].mean())
df.iloc[:,1:].mean(axis=1)

68.0

0    68.000000
1    75.166667
2    81.866667
3    61.733333
dtype: float64

In [39]:
df['means'] = df.iloc[:,1:].mean(axis=1).round(2)
df

     city  day1  day2  day3  means
0     NYC  68.3  67.9  67.8  68.00
1      SF  75.1  75.5  74.9  75.17
2      LA  80.3  84.0  81.3  81.87
3  BOSTON  63.0  61.0  61.2  61.73

In [52]:
import re
temp = 'temperature:75.6 F 56.5'
re.search(r'\d+\.?\d+', temp)

In [53]:
re.search(r'[0-9.]+', temp)

In [44]:
re.search(r'\d\.+', temp)

In [54]:
numbers: list[list[int]] = [[1, 2], [3, 4, 5], [6], [7, 8, 9]]
numbers

[[1, 2], [3, 4, 5], [6], [7, 8, 9]]

In [55]:
sorted(numbers, key=len)

[[6], [1, 2], [3, 4, 5], [7, 8, 9]]

In [56]:
numbers: list[list[int]] = [[7, 8, 9], [1, 2], [3, 4, 5], [6]]
sorted(numbers, key=len)

[[6], [1, 2], [7, 8, 9], [3, 4, 5]]

In [62]:
import itertools as itt
grouped = itt.groupby(sorted(numbers, key=len), key=len)
grouped

In [61]:
a, b = next(grouped)
print(a, [*b])

1 [[6]]

In [63]:
for length, group in grouped:
    print(length, [*group])

1 [[6]]
2 [[1, 2]]
3 [[7, 8, 9], [3, 4, 5]]

In [67]:
words: list[str] = ['apple', 'banana', 'cherry', 'date', 'fig', 'grape', 'apricot', 'blueberry', 'coconut']
for letter, group in itt.groupby(words, key = lambda word: word[0]):
    print(letter, [*group])

a ['apple']
b ['banana']
c ['cherry']
d ['date']
f ['fig']
g ['grape']
a ['apricot']
b ['blueberry']
c ['coconut']

In [68]:
for letter, group in itt.groupby(sorted(words), key = lambda word: word[0]):
    print(letter, [*group])

a ['apple', 'apricot']
b ['banana', 'blueberry']
c ['cherry', 'coconut']
d ['date']
f ['fig']
g ['grape']

In [69]:
people: list[dict[str, str]] = [
    {'name': 'John', 'city': 'NYC'},
    {'name': 'Jane', 'city': 'SF'},
    {'name': 'Jim', 'city': 'LA'},
    {'name': 'Herald', 'city': 'BOSTON'},
    {'name': 'Thor', 'city': 'LA'},
    {'name': 'Tim', 'city': 'NYC'},
    {'name': 'Zoro', 'city': 'SF'},
    {'name': 'Cape', 'city': 'BOSTON'},
]
people

[{'name': 'John', 'city': 'NYC'},
 {'name': 'Jane', 'city': 'SF'},
 {'name': 'Jim', 'city': 'LA'},
 {'name': 'Herald', 'city': 'BOSTON'},
 {'name': 'Thor', 'city': 'LA'},
 {'name': 'Tim', 'city': 'NYC'},
 {'name': 'Zoro', 'city': 'SF'},
 {'name': 'Cape', 'city': 'BOSTON'}]

In [81]:
import operator as op
city_sorted = itt.groupby(sorted(people, key = op.itemgetter('city')), key = op.itemgetter('city'))
city_sorted

In [82]:
for city, group in city_sorted:
    print(f'{city=}')
    for person in group:
        print(f'\t{person['name']}')

city='BOSTON'
	Herald
	Cape
city='LA'
	Jim
	Thor
city='NYC'
	John
	Tim
city='SF'
	Jane
	Zoro