In [3]:
#I will take two number and add them up 5+5+5

In [4]:
5+5

10

In [5]:
48978798789*898999

44031891132512211

In [6]:
'This is Intro to Python'

'This is Intro to Python'

In [7]:
48978798789

48978798789

In [8]:
a_complex_number = 48978798789

In [9]:
a_complex_number

48978798789

In [10]:
session_detail = 'This is Intro to Python'

In [11]:
session_detail

'This is Intro to Python'

In [12]:
#Booleans

In [13]:
age = 99
special_case = age > 100

In [14]:
age

99

In [15]:
special_case

False

In [16]:
# Special category is assigned to people over 100 years of age
special_case = age > 100

In [17]:
emp_1 = 'John'
emp_2 = 'Mick'
emp_3 = 'Joe'

In [18]:
#List
emp_names = 'Joe', 'Sally', 'Lily', 'John', 'Mick'

In [19]:
emp_names

('Joe', 'Sally', 'Lily', 'John', 'Mick')

In [20]:
emp_names_lst = ['Joe', 'Sally', 'Lily', 'John', 'Mick']

In [21]:
emp_names_lst

['Joe', 'Sally', 'Lily', 'John', 'Mick']

In [22]:
emp_names_lst[0]

'Joe'

In [23]:
# LIST []
# TUPLE ()

In [24]:
#Dictionary
numbers = {1:'One', 2:'Two', 3:'Three', 4:'Four'}

In [25]:
words = {'One':1, 'Two':2, 'Three':3
        }

In [27]:
numbers[4]

'Four'

In [28]:
words[2]

KeyError: 2

In [29]:
words['Three']

3

In [30]:
#Conditional Statements

In [31]:
# Code which based on age tells us, if we are eligible for a drivers license

In [32]:
age = 12
if age >= 18:
    print('You are eligibile for a D.L.')

In [33]:
age = 18
if age >= 18:
    print('You are eligibile for a D.L.')

You are eligibile for a D.L.

In [37]:
age = 15
if age >= 18:
    print('You are eligibile for a D.L.')
else:
    print('You are not eligibile for a D.L.')

You are not eligibile for a D.L.

In [40]:
# Multiple Conditions
# If 16 you can get a lerners, if you are 18 you can get L
age = 18
if age >= 18:
    print('You are eligibile for a D.L.')
elif age >= 16:
    print('You are eligibile for a Learner.')
else:
    print('You are not eligibile for a D.L.')

You are eligibile for a D.L.

In [42]:
# Multiple Conditions
# Age   = 18 > DL, 16 L Nothing
# Grade >= 50 > DL NOthing
age = 24
grade = 45
if age >= 18 and grade >= 50:
    print('You are eligibile for a D.L.')
elif age >= 16 and grade >= 50:
    print('You are eligibile for a Learner.')
else:
    print('You are not eligibile for a D.L.')

You are not eligibile for a D.L.

In [44]:
age = 24
grade = 60
if age >= 18 and grade >= 50:
    print('You are eligibile for a D.L.')
    print('----------------------------')
    print('----------------------------')
elif age >= 16 and grade >= 50:
    print('You are eligibile for a Learner.')
else:
    print('You are not eligibile for a D.L.')

You are eligibile for a D.L.
----------------------------
----------------------------

In [45]:
#Loop

In [46]:
emp_names_lst

['Joe', 'Sally', 'Lily', 'John', 'Mick']

In [47]:
print(emp_names_lst[0])

Joe

In [48]:
print(emp_names_lst[3])

John

In [49]:
# for value in iterable:

In [50]:
for name in emp_names_lst:
    print(name)

Joe
Sally
Lily
John
Mick

In [51]:
#Print
print('Age of the person is', age, 'Hence special case for them is', special_case)

Age of the person is 24 Hence special case for them is False

In [52]:
#Function
def say_hello():
    print('Hello all')

In [53]:
say_hello()

Hello all

In [54]:
say_hello()

Hello all

In [55]:
def sum_two_numbers(num1, num2):
    print( num1+num2)

In [56]:
sum_two_numbers(4,4)

8

In [57]:
sum_two_numbers(2,3)

5

In [58]:
def sum_two_numbers_return(num1, num2):
    return num1+num2

In [59]:
sum_two_numbers_return(2,3)

5

In [60]:
var1 = sum_two_numbers(4,5)

9

In [61]:
var1

In [62]:
var2 = sum_two_numbers_return(4,5)

In [63]:
var2

9

In [64]:
import pandas as pd

In [78]:
path = r'C:\\Users\\1270816\\Downloads\\listings.csv'

In [75]:
path = r"C:\Users\1270816\Downloads\test.csv.txt"

In [81]:
path = "C:\\Users\\1270816\\Downloads\\listings - Copy.csv"

In [83]:
df = pd.read_csv(path)

In [84]:
df.shape

(22100, 75)