### Jupyterlab Keyboard Shortcuts
https://gist.github.com/discdiver/9e00618756d120a8c9fa344ac1c375ac

# [Python Regular Expressions Complete Masterclass](https://endeavourgroup.udemy.com/course/python-regex/)

[](https://endeavourgroup.udemy.com/course/python-regex/learn/lecture/23525426#overview)

In [1]:
! python -V

Python 3.9.12

## Methods and Objects

### re.

In [2]:
import re

In [3]:
# help (re)

In [4]:
# dir(re)

[Regular Expression HOWTO](https://docs.python.org/3/howto/regex.html)

  

[re — Regular expression operations](https://docs.python.org/3/library/re.html)

In [5]:
path = "C:\Users\1270816\Downloads"

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (3922703401.py, line 1)

In [6]:
path = r"C:\Users\1270816\Downloads"
print(path)

C:\Users\1270816\Downloads

In [7]:
path="C:\tasks\new"     # \t tab  & \n new line
print(path)

C:	asks
ew

[String and Bytes literals](https://docs.python.org/3/reference/lexical_analysis.html#string-and-bytes-literals)

![](https://img-b.udemycdn.com/redactor/raw/2020-04-12_08-40-07-86caa4a3897b88a3d74224c9436cadd1.jpg)

In [8]:
string = "The Euro STOXX 600 index, which tracks all stock markets across Europe including the FTSE, \
fell by 11.48% - the worst day since it launched in 1998. The panic selling prompted by the coronavirus has \
wiped $2.7tn off the value of STOXX 600 shares since its all—time peak on 19 February."

### re.compile

In [9]:
s = r'\d{4}'
type(s)

str

In [10]:
t = re.compile(s)
type(t)

re.Pattern

### re.findall

In [11]:
result = re.findall(t, string)
print(result)

['1998']

In [12]:
re.findall(r'\d{4}', string)

['1998']

### re.search

In [13]:
result = re.search(r'\d{3}', string)
print(result)
#       returns only first occurance, so 3 digit starts at 15 and goes till 18

<re.Match object; span=(15, 18), match='600'>

In [14]:
string[15:18]

'600'

In [15]:
type(result)

re.Match

In [16]:
for m in result:
    print(m)

TypeError: 're.Match' object is not iterable

### re.match

In [ ]:
result = re.match(r'\w{3}', string)
print(result)

In [17]:
result = re.match(r'\w{4}', string)
print(result)

None

### re.fullmatch

In [18]:
len(string)

285

In [19]:
result = re.fullmatch(r'.{285}', string)
print(result)

<re.Match object; span=(0, 285), match='The Euro STOXX 600 index, which tracks all stock >

In [20]:
result = re.fullmatch(r'The', string)
print(result)

None

In [21]:
result = re.fullmatch(r'\w{285}', string)
print(result)

None

### re.findall()

In [22]:
result = re.findall(r'\d{3}', string)
print(result)

['600', '199', '600']

In [23]:
result = re.findall(r'\d{4}', string)
print(result)

['1998']

In [24]:
result = re.findall(r'\w{3}', string)
print(result)

['The', 'Eur', 'STO', '600', 'ind', 'whi', 'tra', 'cks', 'all', 'sto', 'mar', 'ket', 'acr', 'oss', 'Eur', 'ope', 'inc', 'lud', 'ing', 'the', 'FTS', 'fel', 'the', 'wor', 'day', 'sin', 'lau', 'nch', '199', 'The', 'pan', 'sel', 'lin', 'pro', 'mpt', 'the', 'cor', 'ona', 'vir', 'has', 'wip', '7tn', 'off', 'the', 'val', 'STO', '600', 'sha', 'res', 'sin', 'its', 'all', 'tim', 'pea', 'Feb', 'rua']

In [25]:
result = re.findall(r'\d{5}', string)
print(result)

[]

### re.split()

In [29]:
print(string.split(' '))

['The', 'Euro', 'STOXX', '600', 'index,', 'which', 'tracks', 'all', 'stock', 'markets', 'across', 'Europe', 'including', 'the', 'FTSE,', 'fell', 'by', '11.48%', '-', 'the', 'worst', 'day', 'since', 'it', 'launched', 'in', '1998.', 'The', 'panic', 'selling', 'prompted', 'by', 'the', 'coronavirus', 'has', 'wiped', '$2.7tn', 'off', 'the', 'value', 'of', 'STOXX', '600', 'shares', 'since', 'its', 'all—time', 'peak', 'on', '19', 'February.']

In [28]:
result = re.split(r'\s', string)
print(result)

['The', 'Euro', 'STOXX', '600', 'index,', 'which', 'tracks', 'all', 'stock', 'markets', 'across', 'Europe', 'including', 'the', 'FTSE,', 'fell', 'by', '11.48%', '-', 'the', 'worst', 'day', 'since', 'it', 'launched', 'in', '1998.', 'The', 'panic', 'selling', 'prompted', 'by', 'the', 'coronavirus', 'has', 'wiped', '$2.7tn', 'off', 'the', 'value', 'of', 'STOXX', '600', 'shares', 'since', 'its', 'all—time', 'peak', 'on', '19', 'February.']

In [30]:
result = re.split(r'\d{5}', string)
print(result)

['The Euro STOXX 600 index, which tracks all stock markets across Europe including the FTSE, fell by 11.48% - the worst day since it launched in 1998. The panic selling prompted by the coronavirus has wiped $2.7tn off the value of STOXX 600 shares since its all—time peak on 19 February.']

In [32]:
result = re.split(r'\. ', string)
print(result)

['The Euro STOXX 600 index, which tracks all stock markets across Europe including the FTSE, fell by 11.48% - the worst day since it launched in 1998', 'The panic selling prompted by the coronavirus has wiped $2.7tn off the value of STOXX 600 shares since its all—time peak on 19 February.']

### re.sub()

In [35]:
# re.sub(  pattern, repl, string, count, flags)
result = re.sub( r'[A-Z]{2,}', 'INDEX', string)
print(result)

The Euro INDEX 600 index, which tracks all stock markets across Europe including the INDEX, fell by 11.48% - the worst day since it launched in 1998. The panic selling prompted by the coronavirus has wiped $2.7tn off the value of INDEX 600 shares since its all—time peak on 19 February.

In [36]:
result = re.sub( r'[A-Z]{2,}', 'INDEX', string, 2)
print(result)

The Euro INDEX 600 index, which tracks all stock markets across Europe including the INDEX, fell by 11.48% - the worst day since it launched in 1998. The panic selling prompted by the coronavirus has wiped $2.7tn off the value of STOXX 600 shares since its all—time peak on 19 February.

In [ ]:
result = re.sub( r'[A-Z]{2,}', 'INDEX', string)
print(result)

### re.subn()

In [38]:
result = re.subn( r'[A-Z]{2,}', 'INDEX', string)
print(result)

('The Euro INDEX 600 index, which tracks all stock markets across Europe including the INDEX, fell by 11.48% - the worst day since it launched in 1998. The panic selling prompted by the coronavirus has wiped $2.7tn off the value of INDEX 600 shares since its all—time peak on 19 February.', 3)

### re.group() and re.groups()

In [39]:
result = re.search( r'.+\s(.+ex).+(\d\d\s.+).', string)
print(result)

<re.Match object; span=(0, 285), match='The Euro STOXX 600 index, which tracks all stock >

In [40]:
result.group()

'The Euro STOXX 600 index, which tracks all stock markets across Europe including the FTSE, fell by 11.48% - the worst day since it launched in 1998. The panic selling prompted by the coronavirus has wiped $2.7tn off the value of STOXX 600 shares since its all—time peak on 19 February.'

In [41]:
result.groups()

('index', '19 February')

In [42]:
result.group(1)

'index'

In [43]:
result.group(2)

'19 February'

In [44]:
result.group(1,2)

('index', '19 February')

In [47]:
result = re.findall( r'.+\s(.+ex).+(\d\d\s.+).', string)
print(result)

[('index', '19 February')]

### re.start(), re.end(), re.span()

In [48]:
string.index('index')

19

In [51]:
result = re.search( r'.+\s(.+ex).+(\d\d\s.+).', string)
result.start(1)

19

In [53]:
string.index('19 February')

273

In [52]:
result.start(2)

273

In [54]:
result.end(1)

24

In [56]:
string[19:24]

'index'

In [55]:
result.end(2)

284

In [57]:
string[273:284]

'19 February'

In [58]:
result.span(1)

(19, 24)

In [59]:
result.span(2)

(273, 284)

### Optional Flags

In [60]:
result = re.findall(r'the', string)
print(result)

['the', 'the', 'the', 'the']

In [61]:
result = re.findall(r'the', string, re.I)  #   re.I ==> Ignore Case
print(result)

['The', 'the', 'the', 'The', 'the', 'the']

In [63]:
string2 = 'Hello\nPython'
result = re.search(r'.+', string2)
print(result)

<re.Match object; span=(0, 5), match='Hello'>

In [64]:
result = re.search(r'.+', string2, re.S)
print(result)

<re.Match object; span=(0, 12), match='Hello\nPython'>

In [73]:
result = re.search(r'''.+\s     #Beginning of the string
                    (.+ex)      #Searching for index
                    .+          #Middle of the string
                    (\d\d\s.+). #Date at the end''', string, re.X)
print(result.groups())

('index', '19 February')

### AttributeError

In [7]:
string = """The Euro STOXX 600 index, which tracks all stock markets across Europe including the FTSE,
fell by 11.48% - the worst day since it launched in 1998. The panic selling prompted by the coronavirus has
wiped $2.7tn off the value of STOXX 600 shares since its all—time peak on 19 February."""

In [4]:
result = re.search(r'.+\s(.+ex).+(\d\d\d\d\s.+).', string)
result.groups()

AttributeError: 'NoneType' object has no attribute 'groups'

In [5]:
result.group(1)

AttributeError: 'NoneType' object has no attribute 'group'

## Metacharacters

### The Dot (.) ==> All characters inclusive of characters, digits, spaces, punctuation, but not including ]\n (new line)

In [2]:
string = '''The Euro STOXX 600 index, which tracks all stock markets across Europe including the FTSE, fell by 11.48% - the worst day since it launched in 1998.
The panic selling prompted by the coronavirus has wiped $2.7tn off the value of STOXX 600 shares since its all—time peak on 19 February.'''

In [15]:
result = re.search(r'(.+)', string)
print(result)

<re.Match object; span=(0, 148), match='The Euro STOXX 600 index, which tracks all stock >

In [16]:
result.group(1)

'The Euro STOXX 600 index, which tracks all stock markets across Europe including the FTSE, fell by 11.48% - the worst day since it launched in 1998.'

In [17]:
string = '''The Euro STOXX 600 index, which tracks all stock markets across Europe including the FTSE, fell by 11.48% - the worst day since it launched in 1998. The panic selling prompted by the coronavirus has wiped $2.7tn off the value of STOXX 600 shares since its all—time peak on 19 February.'''

In [18]:
result = re.search(r'(.+)', string)
print(result)

<re.Match object; span=(0, 285), match='The Euro STOXX 600 index, which tracks all stock >

In [19]:
result.group(1)

'The Euro STOXX 600 index, which tracks all stock markets across Europe including the FTSE, fell by 11.48% - the worst day since it launched in 1998. The panic selling prompted by the coronavirus has wiped $2.7tn off the value of STOXX 600 shares since its all—time peak on 19 February.'

In [20]:
result = re.search(r'(.+)', string, re.S)
print(result)

<re.Match object; span=(0, 285), match='The Euro STOXX 600 index, which tracks all stock >

In [21]:
result.group(1)

'The Euro STOXX 600 index, which tracks all stock markets across Europe including the FTSE, fell by 11.48% - the worst day since it launched in 1998. The panic selling prompted by the coronavirus has wiped $2.7tn off the value of STOXX 600 shares since its all—time peak on 19 February.'

### The Caret (^) ==> Matches only at the begining of the line.

In [22]:
result = re.search(r'^\w{3}', string)
print(result)

<re.Match object; span=(0, 3), match='The'>

In [23]:
result = re.search(r'^\w{4}', string)
print(result)

None

In [24]:
string = '''The Euro STOXX 600 index, which tracks all stock markets across Europe including the FTSE, fell by 11.48% - the worst day since it launched in 1998.\nThe panic selling prompted by the coronavirus has wiped $2.7tn off the value of STOXX 600 shares since its all—time peak on 19 February.'''

In [25]:
result = re.findall(r'^\w{3}', string, re.M)  # re.M is Multiline Flag
print(result)

['The', 'The']

### The Dollar ($) ==>  Matches only at the end of the line (just before \n Metacharacter)

In [33]:
string = '''The Euro STOXX 600 index, which tracks all stock markets across Europe including the FTSE, fell by 11.48% - the worst day since it launched in 1998.\nThe panic selling prompted by the coronavirus has wiped $2.7tn off the value of STOXX 600 shares since its all—time peak on 19 February.\nI am testing this line Y.'''

In [34]:
result = re.findall(r'\W$', string, re.M)   #\W denoted punctuation marks, it is opposite of \w
print(result)

['.', '.', '.']

In [35]:
result = re.findall(r'\s(\w{2,})\W$', string, re.M)   #\W denoted punctuation marks, it is opposite of \w
print(result)

['1998', 'February']

In [36]:
result = re.findall(r'\s(\w+)\W$', string, re.M)   #\W denoted punctuation marks, it is opposite of \w
print(result)

['1998', 'February', 'Y']

### The Asterisk (*)  ==>  Repeats 0 or more times (Greedy Repetition)

In [45]:
!python --version

Python 3.9.12

In [46]:
result = re.findall(r'\d\d\d*', string)  #\d\d\d*  ==> two digits needed \d\d, \d* can have anymore digits
print(result)

['600', '11', '48', '1998', '600', '19']

In [47]:
result = re.findall(r'\d\d*', string)  #\d\d*  ==> one digits needed \d\d, \d* can have anymore digits
print(result)

['600', '11', '48', '1998', '2', '7', '600', '19']

In [48]:
result = re.findall(r'E.* ', string)  #\d\d*  ==> one digits needed \d\d, \d* can have anymore digits
print(result)

['Euro STOXX 600 index, which tracks all stock markets across Europe including the FTSE, fell by 11.48% - the worst day since it launched in ']

In [49]:
result = re.findall(r'E\w*', string)  #\d\d*  ==> one digits needed \d\d, \d* can have anymore digits
print(result)

['Euro', 'Europe', 'E']

### The Plus (+)  ==>  Repeats 1 or more times (Greedy Repetition)

In [51]:
result = re.findall(r'\d\d\d+', string)  #\d\d\d*  ==> two digits needed \d\d, \d* can have anymore digits
print(result)

['600', '1998', '600']

In [52]:
result = re.findall(r'\d\d+', string)  #\d\d*  ==> one digits needed \d\d, \d* can have anymore digits
print(result)

['600', '11', '48', '1998', '600', '19']

In [53]:
result = re.findall(r'E.+ ', string)  #\d\d*  ==> one digits needed \d\d, \d* can have anymore digits
print(result)

['Euro STOXX 600 index, which tracks all stock markets across Europe including the FTSE, fell by 11.48% - the worst day since it launched in ']

In [54]:
result = re.findall(r'E\w+', string)  #\d\d*  ==> one digits needed \d\d, \d* can have anymore digits
print(result)

['Euro', 'Europe']

### The Question (?) ==> Repeats 0 or 1 only

In [55]:
result = re.findall(r'\d\d\d?', string)  #\d\d\d*  ==> two digits needed \d\d, \d* can have anymore digits
print(result)

['600', '11', '48', '199', '600', '19']

In [56]:
result = re.findall(r'\d\d?', string)  #\d\d*  ==> one digits needed \d\d, \d* can have anymore digits
print(result)

['60', '0', '11', '48', '19', '98', '2', '7', '60', '0', '19']

In [62]:
result = re.findall(r'E.? ', string)  #\d\d*  ==> one digits needed \d\d, \d* can have anymore digits
print(result)

['E, ']

In [60]:
result = re.findall(r'E\w?', string)  #\d\d*  ==> one digits needed \d\d, \d* can have anymore digits
print(result)

['Eu', 'Eu', 'E']

## Greedy v/s Non-Greedy

In [3]:
import re
string = '''The Euro STOXX 600 index, which tracks all stock markets across Europe including the FTSE, fell by 11.48% - the worst day since it launched in 1998.
The panic selling prompted by the coronavirus has wiped $2.7tn off the value of STOXX 600 shares since its all—time peak on 19 February.'''

In [7]:
result = re.findall(r'\d\d\d*', string)
result

['600', '11', '48', '1998', '600', '19']

In [8]:
result = re.findall(r'\d\d\d*?', string)
result

['60', '11', '48', '19', '98', '60', '19']

In [10]:
result = re.findall(r'\d\d\d+', string)
result

['600', '1998', '600']

In [11]:
result = re.findall(r'\d\d\d+?', string)
result

['600', '199', '600']

In [12]:
result = re.findall(r'\d\d\d', string)
result

['600', '199', '600']

In [13]:
result = re.findall(r'\d\d\d?', string)
result

['600', '11', '48', '199', '600', '19']

In [15]:
result = re.findall(r'\d\d\d??', string)
result

['60', '11', '48', '19', '98', '60', '19']

In [ ]:
# https://medium.com/@coder033/python-map-filter-and-reduce-ebbf3a0d5f4c

In [16]:
def mul(x):
  return x*2
res=map(mul,range(0,5))
print(res)
print(list(res))

<map object at 0x0000025F24436EB0>
[0, 2, 4, 6, 8]

In [17]:
res1=map(lambda x:x*3,range(0,5))
print(list(res1))

[0, 3, 6, 9, 12]

In [18]:
a=[1,2,3,4,5,6]
b=[2,2,2,2,2,2]
res2=map(lambda x,y:x*y,a,b)
print(list(res2))

[2, 4, 6, 8, 10, 12]

In [19]:
res3=filter(lambda x:x*3,range(0,5))
print(res3)
print(list(res3))

<filter object at 0x0000025F2434E1F0>
[1, 2, 3, 4]

In [20]:
num=[-2,-1,0,1,2]
def check(x):
    return x>0
result=filter(check,num)
print(list(result))

[1, 2]

In [24]:
list(filter(lambda x:x>1, num))

[2]

In [25]:
fnc=lambda value:value if (value%2==0) and (value%3==0) else None
result2=filter(fnc,range(0,61))
print(list(result2))

[6, 12, 18, 24, 30, 36, 42, 48, 54, 60]

In [26]:
from functools import reduce
list_value=[5,6,7,8]
def op(x,y):
   return x+y
out=reduce(op,list_value)
print(out)

26

In [27]:
list_value=[5,6,7,8]
out1=reduce(lambda val1,val2:val1*val2,list_value)
print(out1)

1680

In [29]:
5*6*7*8

1680

In [30]:
fnc=lambda a,b:a+b
out2=reduce(fnc,range(0,10))
print(out2)

45

In [31]:
out2=reduce(lambda a,b:a+b,range(0,10))

print(out2)

45

In [32]:
string = 'I wish you a very very happy happy birthday'

In [33]:
re.findall(r'\w+', string)

['I', 'wish', 'you', 'a', 'very', 'very', 'happy', 'happy', 'birthday']

In [34]:
re.findall(r'(\w+)\s', string)

['I', 'wish', 'you', 'a', 'very', 'very', 'happy', 'happy']

In [35]:
re.findall(r'(\w+)\s\1', string)

['very', 'happy']

In [37]:
re.sub(r'(\w+)\s\1', r'\1', string)

'I wish you a very happy birthday'

In [102]:
sentence = "Your new code number is 23434. Please, enter 23434 to open the door. "

In [103]:
re.findall(r"(?P<code>\d{5}).*?(?P=code)" ,sentence)

['23434']

In [104]:
print(re.match(r"(?P<code>\d{5}).*?(?P=code)" ,sentence))

None

In [107]:
sentence = "Your new code number is 23434. Please, enter 11111 to open the door. "

In [108]:
re.findall(r"(?P<code>\d{5}).*?(?P=code)" ,sentence)

[]

In [109]:
result = re.match(r"(?P<code>\d{5}).*?(?P=code)" ,sentence)
print(sentence, result)

Your new code number is 23434. Please, enter 11111 to open the door.  None

In [99]:
sentence

'Your new code number is 23434. Please, enter 11111 to open the door. '

In [51]:
re.findall(r"(?P<code>\d{5}).*?" ,sentence)

['23434', '23434']

In [44]:
re.findall(r'\d{5}.*?', sentence)

['23434', '23434']

In [141]:
html_tags = ['<body>Welcome to our course! It would be an awesome experience</article>',
             '<article>To be a data scientist, you need to have knowledge in statistics and mathematics</article>',
             '<nav>About me Links Contact me!'
            ]

In [144]:
for string in html_tags:
    print(string, '\n', re.match(r"<(\w+)>.*?</\1>", string))

<body>Welcome to our course! It would be an awesome experience</article>
 None
<article>To be a data scientist, you need to have knowledge in statistics and mathematics</article>
 <re.Match object; span=(0, 99), match='<article>To be a data scientist, you need to have>
<nav>About me Links Contact me!
 None

In [166]:
sa = ['@marykatherine_q i know! I heard it this morning and wondered the same thing. Moscooooooow is so behind the times',
      'Staying at a friends house...neighborrrrrrrs are so loud-having a party',
      'oooored Just woke up an already have read some e-mail and a book'
     ]

In [167]:
regex_elongated = r'\w*(\w)\1\w*'

In [168]:
for s in sa:
    found = re.search(regex_elongated, s)
    print(s, '\n\t\t', found, '\n\t\t', found.group(0), found.group(1))

@marykatherine_q i know! I heard it this morning and wondered the same thing. Moscooooooow is so behind the times
		 <re.Match object; span=(78, 90), match='Moscooooooow'>
		 Moscooooooow o
Staying at a friends house...neighborrrrrrrs are so loud-having a party
		 <re.Match object; span=(29, 44), match='neighborrrrrrrs'>
		 neighborrrrrrrs r
oooored Just woke up an already have read some e-mail and a book
		 <re.Match object; span=(0, 7), match='oooored'>
		 oooored o

In [162]:
for s in sa:
    found = re.match(regex_elongated, s)
    print(s, '\n\t\t', found )

@marykatherine_q i know! I heard it this morning and wondered the same thing. Moscooooooow is so behind the times
		 None
Staying at a friends house...neighborrrrrrrs are so loud-having a party
		 None
Just woke up an already have read some e-mail and a book
		 None