# Dates & Calendars

## Dates in Python

In [1]:
import datetime as dt

In [2]:
two_dates = [dt.date(2016,10,7), dt.date(2017,6,21)]
print(two_dates)

[datetime.date(2016, 10, 7), datetime.date(2017, 6, 21)]

In [5]:
for _ in two_dates:
    print(f'Year => {_.year}')
    print(f'Month => {_.month}')
    print(f'Day => {_.day}')
    print(f'Weekday => {_.weekday()}')

Year => 2016
Month => 10
Day => 7
Weekday => 4
Year => 2017
Month => 6
Day => 21
Weekday => 2

## Date Maths

In [49]:
# Import datetime
import datetime as dt

# Create a date object for May 9th, 2007
start = dt.date(2007, 5, 9)

# Create a date object for December 13th, 2007
end = dt.date(2007, 12, 13)

# Subtract the two dates and print the number of days
print((end - start).days)

218

In [12]:
florida_hurricane_dates = [dt.date(1950, 8, 31),
 dt.date(1950, 9, 5),
 dt.date(1950, 10, 18),
 dt.date(1950, 10, 21),
 dt.date(1951, 5, 18),
 dt.date(1951, 10, 2),
 dt.date(1952, 2, 3),
 dt.date(1952, 8, 30),
 dt.date(1953, 6, 6),
 dt.date(1953, 8, 29),
 dt.date(1953, 9, 20),
 dt.date(1953, 9, 26),
 dt.date(1953, 10, 9),
 dt.date(1955, 8, 21),
 dt.date(1956, 7, 6),
 dt.date(1956, 9, 24),
 dt.date(1956, 10, 15),
 dt.date(1957, 6, 8),
 dt.date(1957, 9, 8),
 dt.date(1958, 9, 4),
 dt.date(1959, 6, 18),
 dt.date(1959, 10, 8),
 dt.date(1959, 10, 18),
 dt.date(1960, 7, 29),
 dt.date(1960, 9, 10),
 dt.date(1960, 9, 15),
 dt.date(1960, 9, 23),
 dt.date(1961, 9, 11),
 dt.date(1961, 10, 29),
 dt.date(1962, 8, 26),
 dt.date(1963, 10, 21),
 dt.date(1964, 6, 6),
 dt.date(1964, 8, 27),
 dt.date(1964, 9, 10),
 dt.date(1964, 9, 20),
 dt.date(1964, 10, 5),
 dt.date(1964, 10, 14),
 dt.date(1965, 6, 15),
 dt.date(1965, 9, 8),
 dt.date(1965, 9, 30),
 dt.date(1966, 6, 9),
 dt.date(1966, 6, 30),
 dt.date(1966, 7, 24),
 dt.date(1966, 10, 4),
 dt.date(1968, 6, 4),
 dt.date(1968, 6, 18),
 dt.date(1968, 7, 5),
 dt.date(1968, 8, 10),
 dt.date(1968, 8, 28),
 dt.date(1968, 9, 26),
 dt.date(1968, 10, 19),
 dt.date(1969, 6, 9),
 dt.date(1969, 8, 18),
 dt.date(1969, 8, 29),
 dt.date(1969, 9, 7),
 dt.date(1969, 9, 21),
 dt.date(1969, 10, 1),
 dt.date(1969, 10, 2),
 dt.date(1969, 10, 21),
 dt.date(1970, 5, 25),
 dt.date(1970, 7, 22),
 dt.date(1970, 8, 6),
 dt.date(1970, 9, 13),
 dt.date(1970, 9, 27),
 dt.date(1971, 8, 10),
 dt.date(1971, 8, 13),
 dt.date(1971, 8, 29),
 dt.date(1971, 9, 1),
 dt.date(1971, 9, 16),
 dt.date(1971, 10, 13),
 dt.date(1972, 5, 28),
 dt.date(1972, 6, 19),
 dt.date(1972, 9, 5),
 dt.date(1973, 6, 7),
 dt.date(1973, 6, 23),
 dt.date(1973, 9, 3),
 dt.date(1973, 9, 25),
 dt.date(1974, 6, 25),
 dt.date(1974, 9, 8),
 dt.date(1974, 9, 27),
 dt.date(1974, 10, 7),
 dt.date(1975, 6, 27),
 dt.date(1975, 7, 29),
 dt.date(1975, 9, 23),
 dt.date(1975, 10, 1),
 dt.date(1975, 10, 16),
 dt.date(1976, 5, 23),
 dt.date(1976, 6, 11),
 dt.date(1976, 8, 19),
 dt.date(1976, 9, 13),
 dt.date(1977, 8, 27),
 dt.date(1977, 9, 5),
 dt.date(1978, 6, 22),
 dt.date(1979, 7, 11),
 dt.date(1979, 9, 3),
 dt.date(1979, 9, 12),
 dt.date(1979, 9, 24),
 dt.date(1980, 8, 7),
 dt.date(1980, 11, 18),
 dt.date(1981, 8, 17),
 dt.date(1982, 6, 18),
 dt.date(1982, 9, 11),
 dt.date(1983, 8, 28),
 dt.date(1984, 9, 9),
 dt.date(1984, 9, 27),
 dt.date(1984, 10, 26),
 dt.date(1985, 7, 23),
 dt.date(1985, 8, 15),
 dt.date(1985, 10, 10),
 dt.date(1985, 11, 21),
 dt.date(1986, 6, 26),
 dt.date(1986, 8, 13),
 dt.date(1987, 8, 14),
 dt.date(1987, 9, 7),
 dt.date(1987, 10, 12),
 dt.date(1987, 11, 4),
 dt.date(1988, 5, 30),
 dt.date(1988, 8, 4),
 dt.date(1988, 8, 13),
 dt.date(1988, 8, 23),
 dt.date(1988, 9, 4),
 dt.date(1988, 9, 10),
 dt.date(1988, 9, 13),
 dt.date(1988, 11, 23),
 dt.date(1989, 9, 22),
 dt.date(1990, 5, 25),
 dt.date(1990, 10, 9),
 dt.date(1990, 10, 12),
 dt.date(1991, 6, 30),
 dt.date(1991, 10, 16),
 dt.date(1992, 6, 25),
 dt.date(1992, 8, 24),
 dt.date(1992, 9, 29),
 dt.date(1993, 6, 1),
 dt.date(1994, 7, 3),
 dt.date(1994, 8, 15),
 dt.date(1994, 10, 2),
 dt.date(1994, 11, 16),
 dt.date(1995, 6, 5),
 dt.date(1995, 7, 27),
 dt.date(1995, 8, 2),
 dt.date(1995, 8, 23),
 dt.date(1995, 10, 4),
 dt.date(1996, 7, 11),
 dt.date(1996, 9, 2),
 dt.date(1996, 10, 8),
 dt.date(1996, 10, 18),
 dt.date(1997, 7, 19),
 dt.date(1998, 9, 3),
 dt.date(1998, 9, 20),
 dt.date(1998, 9, 25),
 dt.date(1998, 11, 5),
 dt.date(1999, 8, 29),
 dt.date(1999, 9, 15),
 dt.date(1999, 9, 21),
 dt.date(1999, 10, 15),
 dt.date(2000, 8, 23),
 dt.date(2000, 9, 9),
 dt.date(2000, 9, 18),
 dt.date(2000, 9, 22),
 dt.date(2000, 10, 3),
 dt.date(2001, 6, 12),
 dt.date(2001, 8, 6),
 dt.date(2001, 9, 14),
 dt.date(2001, 11, 5),
 dt.date(2002, 7, 13),
 dt.date(2002, 8, 4),
 dt.date(2002, 9, 4),
 dt.date(2002, 9, 14),
 dt.date(2002, 9, 26),
 dt.date(2002, 10, 3),
 dt.date(2002, 10, 11),
 dt.date(2003, 4, 20),
 dt.date(2003, 6, 30),
 dt.date(2003, 7, 25),
 dt.date(2003, 8, 14),
 dt.date(2003, 8, 30),
 dt.date(2003, 9, 6),
 dt.date(2003, 9, 13),
 dt.date(2004, 8, 12),
 dt.date(2004, 8, 13),
 dt.date(2004, 9, 5),
 dt.date(2004, 9, 13),
 dt.date(2004, 9, 16),
 dt.date(2004, 10, 10),
 dt.date(2005, 6, 11),
 dt.date(2005, 7, 6),
 dt.date(2005, 7, 10),
 dt.date(2005, 8, 25),
 dt.date(2005, 9, 12),
 dt.date(2005, 9, 20),
 dt.date(2005, 10, 5),
 dt.date(2005, 10, 24),
 dt.date(2006, 6, 13),
 dt.date(2006, 8, 30),
 dt.date(2007, 5, 9),
 dt.date(2007, 6, 2),
 dt.date(2007, 8, 23),
 dt.date(2007, 9, 8),
 dt.date(2007, 9, 13),
 dt.date(2007, 9, 22),
 dt.date(2007, 10, 31),
 dt.date(2007, 12, 13),
 dt.date(2008, 7, 16),
 dt.date(2008, 7, 22),
 dt.date(2008, 8, 18),
 dt.date(2008, 8, 31),
 dt.date(2008, 9, 2),
 dt.date(2009, 8, 16),
 dt.date(2009, 8, 21),
 dt.date(2009, 11, 9),
 dt.date(2010, 6, 30),
 dt.date(2010, 7, 23),
 dt.date(2010, 8, 10),
 dt.date(2010, 8, 31),
 dt.date(2010, 9, 29),
 dt.date(2011, 7, 18),
 dt.date(2011, 8, 25),
 dt.date(2011, 9, 3),
 dt.date(2011, 10, 28),
 dt.date(2011, 11, 9),
 dt.date(2012, 5, 28),
 dt.date(2012, 6, 23),
 dt.date(2012, 8, 25),
 dt.date(2012, 10, 25),
 dt.date(2015, 8, 30),
 dt.date(2015, 10, 1),
 dt.date(2016, 6, 6),
 dt.date(2016, 9, 1),
 dt.date(2016, 9, 14),
 dt.date(2016, 10, 7),
 dt.date(2017, 6, 21),
 dt.date(2017, 7, 31),
 dt.date(2017, 9, 10),
 dt.date(2017, 10, 29)
 ]
# A dictionary to count hurricanes per calendar month
hurricanes_each_month = {1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6:0, 7: 0, 8:0, 9:0, 10:0, 11:0, 12:0}

# Loop over all hurricanes
for hurricane in florida_hurricane_dates:
	# Pull out the month
	month = hurricane.month
  # Increment the count in your dictionary by one
	hurricanes_each_month[month] += 1
  
print(hurricanes_each_month)

{1: 0, 2: 1, 3: 0, 4: 1, 5: 8, 6: 32, 7: 21, 8: 49, 9: 70, 10: 43, 11: 9, 12: 1}

In [13]:
dates_scrambled = [dt.date(1988, 8, 4),
 dt.date(1990, 10, 12),
 dt.date(2003, 4, 20),
 dt.date(1971, 9, 1),
 dt.date(1988, 8, 23),
 dt.date(1994, 8, 15),
 dt.date(2002, 8, 4),
 dt.date(1988, 5, 30),
 dt.date(2003, 9, 13),
 dt.date(2009, 8, 21),
 dt.date(1978, 6, 22),
 dt.date(1969, 6, 9),
 dt.date(1976, 6, 11),
 dt.date(1976, 8, 19),
 dt.date(1966, 6, 9),
 dt.date(1968, 7, 5),
 dt.date(1987, 11, 4),
 dt.date(1988, 8, 13),
 dt.date(2007, 12, 13),
 dt.date(1994, 11, 16),
 dt.date(2003, 9, 6),
 dt.date(1971, 8, 13),
 dt.date(1981, 8, 17),
 dt.date(1998, 9, 25),
 dt.date(1968, 9, 26),
 dt.date(1968, 6, 4),
 dt.date(1998, 11, 5),
 dt.date(2008, 8, 18),
 dt.date(1987, 8, 14),
 dt.date(1988, 11, 23),
 dt.date(2010, 9, 29),
 dt.date(1985, 7, 23),
 dt.date(2017, 7, 31),
 dt.date(1955, 8, 21),
 dt.date(1986, 6, 26),
 dt.date(1963, 10, 21),
 dt.date(2011, 10, 28),
 dt.date(2011, 11, 9),
 dt.date(1997, 7, 19),
 dt.date(2007, 6, 2),
 dt.date(2002, 9, 14),
 dt.date(1992, 9, 29),
 dt.date(1971, 10, 13),
 dt.date(1962, 8, 26),
 dt.date(1964, 8, 27),
 dt.date(1984, 9, 27),
 dt.date(1973, 9, 25),
 dt.date(1969, 10, 21),
 dt.date(1994, 7, 3),
 dt.date(1958, 9, 4),
 dt.date(1985, 11, 21),
 dt.date(2011, 9, 3),
 dt.date(1972, 6, 19),
 dt.date(1991, 6, 30),
 dt.date(2004, 8, 12),
 dt.date(2007, 9, 8),
 dt.date(1952, 2, 3),
 dt.date(1965, 9, 30),
 dt.date(2000, 9, 22),
 dt.date(2002, 9, 26),
 dt.date(1950, 9, 5),
 dt.date(1966, 10, 4),
 dt.date(1970, 5, 25),
 dt.date(1979, 9, 24),
 dt.date(1960, 9, 23),
 dt.date(2007, 8, 23),
 dt.date(2009, 8, 16),
 dt.date(1996, 10, 18),
 dt.date(2012, 10, 25),
 dt.date(2011, 8, 25),
 dt.date(1951, 5, 18),
 dt.date(1980, 8, 7),
 dt.date(1979, 9, 3),
 dt.date(1953, 9, 26),
 dt.date(1968, 10, 19),
 dt.date(2009, 11, 9),
 dt.date(1999, 8, 29),
 dt.date(2015, 10, 1),
 dt.date(2008, 9, 2),
 dt.date(2004, 10, 10),
 dt.date(2004, 9, 16),
 dt.date(1992, 8, 24),
 dt.date(2000, 9, 9),
 dt.date(1971, 9, 16),
 dt.date(1996, 9, 2),
 dt.date(1998, 9, 3),
 dt.date(1951, 10, 2),
 dt.date(1979, 9, 12),
 dt.date(2007, 10, 31),
 dt.date(1953, 10, 9),
 dt.date(1952, 8, 30),
 dt.date(1969, 9, 7),
 dt.date(2015, 8, 30),
 dt.date(1959, 10, 8),
 dt.date(2002, 7, 13),
 dt.date(1961, 10, 29),
 dt.date(2007, 5, 9),
 dt.date(2016, 10, 7),
 dt.date(1964, 9, 20),
 dt.date(1979, 7, 11),
 dt.date(1950, 10, 18),
 dt.date(2008, 8, 31),
 dt.date(2012, 8, 25),
 dt.date(1966, 7, 24),
 dt.date(2010, 8, 10),
 dt.date(2005, 8, 25),
 dt.date(2003, 6, 30),
 dt.date(1956, 7, 6),
 dt.date(1974, 9, 8),
 dt.date(1966, 6, 30),
 dt.date(2016, 9, 14),
 dt.date(1968, 6, 18),
 dt.date(1982, 9, 11),
 dt.date(1976, 9, 13),
 dt.date(1975, 7, 29),
 dt.date(2007, 9, 13),
 dt.date(1970, 9, 27),
 dt.date(1969, 10, 2),
 dt.date(2010, 8, 31),
 dt.date(1995, 10, 4),
 dt.date(1969, 8, 29),
 dt.date(1984, 10, 26),
 dt.date(1973, 9, 3),
 dt.date(1976, 5, 23),
 dt.date(2001, 11, 5),
 dt.date(2010, 6, 30),
 dt.date(1985, 10, 10),
 dt.date(1970, 7, 22),
 dt.date(1972, 5, 28),
 dt.date(1982, 6, 18),
 dt.date(2001, 8, 6),
 dt.date(1953, 8, 29),
 dt.date(1965, 9, 8),
 dt.date(1964, 9, 10),
 dt.date(1959, 10, 18),
 dt.date(1957, 6, 8),
 dt.date(1988, 9, 10),
 dt.date(2005, 6, 11),
 dt.date(1953, 6, 6),
 dt.date(2003, 8, 30),
 dt.date(2002, 10, 3),
 dt.date(1968, 8, 10),
 dt.date(1999, 10, 15),
 dt.date(2002, 9, 4),
 dt.date(2001, 6, 12),
 dt.date(2017, 9, 10),
 dt.date(2005, 10, 5),
 dt.date(2005, 7, 10),
 dt.date(1973, 6, 7),
 dt.date(1999, 9, 15),
 dt.date(2005, 9, 20),
 dt.date(1995, 6, 5),
 dt.date(2003, 7, 25),
 dt.date(2004, 9, 13),
 dt.date(1964, 6, 6),
 dt.date(1973, 6, 23),
 dt.date(2005, 9, 12),
 dt.date(2012, 6, 23),
 dt.date(1961, 9, 11),
 dt.date(1990, 5, 25),
 dt.date(2017, 6, 21),
 dt.date(1975, 6, 27),
 dt.date(1959, 6, 18),
 dt.date(2004, 9, 5),
 dt.date(1987, 10, 12),
 dt.date(1995, 7, 27),
 dt.date(1964, 10, 14),
 dt.date(1970, 8, 6),
 dt.date(1969, 10, 1),
 dt.date(1996, 10, 8),
 dt.date(1968, 8, 28),
 dt.date(1956, 10, 15),
 dt.date(1975, 9, 23),
 dt.date(1970, 9, 13),
 dt.date(1975, 10, 16),
 dt.date(1990, 10, 9),
 dt.date(2005, 10, 24),
 dt.date(1950, 8, 31),
 dt.date(2000, 10, 3),
 dt.date(2002, 10, 11),
 dt.date(1983, 8, 28),
 dt.date(1960, 7, 29),
 dt.date(1950, 10, 21),
 dt.date(1995, 8, 2),
 dt.date(1956, 9, 24),
 dt.date(2016, 9, 1),
 dt.date(1993, 6, 1),
 dt.date(1987, 9, 7),
 dt.date(2012, 5, 28),
 dt.date(1995, 8, 23),
 dt.date(1969, 8, 18),
 dt.date(2001, 9, 14),
 dt.date(2000, 8, 23),
 dt.date(1974, 10, 7),
 dt.date(1986, 8, 13),
 dt.date(1977, 8, 27),
 dt.date(2008, 7, 16),
 dt.date(1996, 7, 11),
 dt.date(1988, 9, 4),
 dt.date(1975, 10, 1),
 dt.date(2003, 8, 14),
 dt.date(1957, 9, 8),
 dt.date(2005, 7, 6),
 dt.date(1960, 9, 15),
 dt.date(1974, 9, 27),
 dt.date(1965, 6, 15),
 dt.date(1999, 9, 21),
 dt.date(2004, 8, 13),
 dt.date(1994, 10, 2),
 dt.date(1971, 8, 10),
 dt.date(2008, 7, 22),
 dt.date(2000, 9, 18),
 dt.date(1960, 9, 10),
 dt.date(2006, 6, 13),
 dt.date(2017, 10, 29),
 dt.date(1972, 9, 5),
 dt.date(1964, 10, 5),
 dt.date(1991, 10, 16),
 dt.date(1969, 9, 21),
 dt.date(1998, 9, 20),
 dt.date(1977, 9, 5),
 dt.date(1988, 9, 13),
 dt.date(1974, 6, 25),
 dt.date(2010, 7, 23),
 dt.date(2007, 9, 22),
 dt.date(1984, 9, 9),
 dt.date(1989, 9, 22),
 dt.date(1992, 6, 25),
 dt.date(1971, 8, 29),
 dt.date(1953, 9, 20),
 dt.date(1985, 8, 15),
 dt.date(2016, 6, 6),
 dt.date(2006, 8, 30),
 dt.date(1980, 11, 18),
 dt.date(2011, 7, 18)]

print(dates_scrambled[0])
print(dates_scrambled[-1])

1988-08-04
2011-07-18

In [14]:
# Put the dates in order
dates_ordered = sorted(dates_scrambled)

# Print the first and last ordered dates
print(dates_ordered[0])
print(dates_ordered[-1])

1950-08-31
2017-10-29

## Turning dates into strings

In [34]:
print(dates_ordered[1].isoformat())
print(dates_ordered[1].isocalendar())
print(dates_ordered[1].isoweekday())

1950-09-05
datetime.IsoCalendarDate(year=1950, week=36, weekday=2)
2

In [16]:
# A few dates that computers had trouble with once
some_dates = ['2000-01-01', '1999-12-31']
print(sorted(some_dates))

['1999-12-31', '2000-01-01']

In [39]:
print(dates_ordered[1].strftime('%Y'))
print(dates_ordered[1].strftime('Year is %Y'))

1950
Year is 1950

In [41]:
print(dates_ordered[1].strftime('With Y %Y'))
print(dates_ordered[1].strftime('With y %y'))
print(dates_ordered[1].strftime('With B %B'))
print(dates_ordered[1].strftime('With m %m'))
print(dates_ordered[1].strftime('With D %D'))
print(dates_ordered[1].strftime('With d %d'))

With Y 1950
With y 50
With B September
With m 09
With D 09/05/50
With d 05

In [40]:
# Assign the earliest date to first_date
first_date = min(florida_hurricane_dates)

# Convert to ISO and US formats
iso = "Our earliest hurricane date: " + first_date.isoformat()
us = "Our earliest hurricane date: " + first_date.strftime("%m/%d/%Y")

print("ISO: " + iso)
print("US: " + us)

ISO: Our earliest hurricane date: 1950-08-31
US: Our earliest hurricane date: 08/31/1950

In [43]:
# Create a date object
andrew = dt.date(1992, 8, 26)

# Print the date in the format 'MONTH (YYYY)'
print(andrew.strftime('%B (%Y)'))
print(andrew.strftime('%Y-%j'))

August (1992)
1992-239

## Dates and times

### Creating Datetime by Hand

In [44]:
dt_ = dt.datetime(2014, 10, 20, 11, 55, 55)
print(dt_)

2014-10-20 11:55:55

In [46]:
dt_ = dt.replace(second=00)
print(dt_)

2014-10-20 11:55:00

In [50]:
# Create a datetime object
dt_ = dt.datetime(2017, 10, 1, 15, 26, 26)

# Print the results in ISO 8601 format
print(dt_.isoformat())

2017-10-01T15:26:26

In [73]:
import pandas as pd
onebike_datetimes = pd.read_csv('./Datasets/capital-onebike.csv', parse_dates=['Start date', 'End date'])
# Create dictionary to hold results
trip_counts = {'AM': 0, 'PM': 0}

In [77]:
onebike_datetimes.columns = onebike_datetimes.columns.str.replace(' ', '_')
onebike_datetimes['Start_date'] = pd.to_datetime(onebike_datetimes['Start_date'])
onebike_datetimes['End_date'] = pd.to_datetime(onebike_datetimes['End_date'])

In [78]:
for rec in onebike_datetimes[:5].itertuples():
    print(rec)

Pandas(Index=0, Start_date=Timestamp('2017-10-01 15:23:25'), End_date=Timestamp('2017-10-01 15:26:26'), Start_station_number=31038, Start_station='Glebe Rd & 11th St N', End_station_number=31036, End_station='George Mason Dr & Wilson Blvd', Bike_number='W20529', Member_type='Member')
Pandas(Index=1, Start_date=Timestamp('2017-10-01 15:42:57'), End_date=Timestamp('2017-10-01 17:49:59'), Start_station_number=31036, Start_station='George Mason Dr & Wilson Blvd', End_station_number=31036, End_station='George Mason Dr & Wilson Blvd', Bike_number='W20529', Member_type='Casual')
Pandas(Index=2, Start_date=Timestamp('2017-10-02 06:37:10'), End_date=Timestamp('2017-10-02 06:42:53'), Start_station_number=31036, Start_station='George Mason Dr & Wilson Blvd', End_station_number=31037, End_station='Ballston Metro / N Stuart & 9th St N', Bike_number='W20529', Member_type='Member')
Pandas(Index=3, Start_date=Timestamp('2017-10-02 08:56:45'), End_date=Timestamp('2017-10-02 09:18:03'), Start_station_number=31037, Start_station='Ballston Metro / N Stuart & 9th St N', End_station_number=31295, End_station='Potomac & M St NW', Bike_number='W20529', Member_type='Member')
Pandas(Index=4, Start_date=Timestamp('2017-10-02 18:23:48'), End_date=Timestamp('2017-10-02 18:45:05'), Start_station_number=31295, Start_station='Potomac & M St NW', End_station_number=31230, End_station='Metro Center / 12th & G St NW', Bike_number='W20529', Member_type='Member')

In [80]:
# Loop over all trips
for trip in onebike_datetimes.itertuples():
  # Check to see if the trip starts before noon
  if trip.Start_date.hour < 12:
    # Increment the counter for before noon
    trip_counts['AM'] += 1
  else:
    # Increment the counter for after noon
    trip_counts['PM'] += 1
  
print(trip_counts)

{'AM': 94, 'PM': 196}

### Printing and parsing datetimes

In [85]:
print(dt_)
print(dt_.strftime('%Y-%m-%d'))
print(dt_.strftime('%H:%M:%S'))
print(dt_.isoformat())

2017-10-01 15:26:26
2017-10-01
15:26:26
2017-10-01T15:26:26

In [88]:
dt_ = dt.datetime.strptime('12/30/2017 15:19:13', '%m/%d/%Y %H:%M:%S')
print(dt_)
print(dt_.isoformat())
print(type(dt_))

2017-12-30 15:19:13
2017-12-30T15:19:13
<class 'datetime.datetime'>

### Time Stamp

In [90]:
ts = 1514665153.0 #UNIX Time Stamp days since 1/1/1970
print(dt.datetime.fromtimestamp(ts))

2017-12-31 07:19:13

In [91]:
# Starting string, in YYYY-MM-DD HH:MM:SS format
s = '2017-02-03 00:00:01'

# Write a format string to parse s
fmt = '%Y-%m-%d %H:%M:%S'

# Create a datetime object d
d = dt.datetime.strptime(s, fmt)

# Print d
print(d)

2017-02-03 00:00:01

### Working with durations

In [92]:
import datetime as dt

In [94]:
# Create example datetimes
start = dt.datetime(2017, 10, 8, 23, 46, 47)
end = dt.datetime(2017, 10, 9, 0, 10, 57)

In [99]:
duration = end - start
print(f'Seconds between {start} and {end} = {duration.total_seconds()}')
print(f'Hours between {start} and {end} = {duration.days}')

Seconds between 2017-10-08 23:46:47 and 2017-10-09 00:10:57 = 1450.0
Hours between 2017-10-08 23:46:47 and 2017-10-09 00:10:57 = 0

In [100]:
end + dt.timedelta(seconds=1)

datetime.datetime(2017, 10, 9, 0, 10, 58)

In [101]:
start + dt.timedelta(days=1, seconds=10)

datetime.datetime(2017, 10, 9, 23, 46, 57)

In [103]:
start + dt.timedelta(weeks=-1)

datetime.datetime(2017, 10, 1, 23, 46, 47)

In [104]:
onebike_datetimes.head(2)

,Start_date,End_date,Start_station_number,Start_station,End_station_number,End_station,Bike_number,Member_type
0,2017-10-01 15:23:25,2017-10-01 15:26:26,31038,Glebe Rd & 11th St N,31036,George Mason Dr & Wilson Blvd,W20529,Member
1,2017-10-01 15:42:57,2017-10-01 17:49:59,31036,George Mason Dr & Wilson Blvd,31036,George Mason Dr & Wilson Blvd,W20529,Casual

In [130]:
def calc_trip_duration(row) -> dt.timedelta :
	duration = row['End_date']-row['Start_date']
	return duration.total_seconds()

In [133]:
onebike_datetimes['trip_duration'] = onebike_datetimes.apply(calc_trip_duration, axis=1)
onebike_datetimes.head()

,Start_date,End_date,Start_station_number,Start_station,End_station_number,End_station,Bike_number,Member_type,trip_duration
0,2017-10-01 15:23:25,2017-10-01 15:26:26,31038,Glebe Rd & 11th St N,31036,George Mason Dr & Wilson Blvd,W20529,Member,181.0
1,2017-10-01 15:42:57,2017-10-01 17:49:59,31036,George Mason Dr & Wilson Blvd,31036,George Mason Dr & Wilson Blvd,W20529,Casual,7622.0
2,2017-10-02 06:37:10,2017-10-02 06:42:53,31036,George Mason Dr & Wilson Blvd,31037,Ballston Metro / N Stuart & 9th St N,W20529,Member,343.0
3,2017-10-02 08:56:45,2017-10-02 09:18:03,31037,Ballston Metro / N Stuart & 9th St N,31295,Potomac & M St NW,W20529,Member,1278.0
4,2017-10-02 18:23:48,2017-10-02 18:45:05,31295,Potomac & M St NW,31230,Metro Center / 12th & G St NW,W20529,Member,1277.0