# Unsupervised Learning in Python

## Clustering for Dataset Exploration

In [42]:
import pandas as pd

In [43]:
df = pd.DataFrame({
  'winners': ['Argentina', 'France', 'Germany', 'Spain', 'Italy', 'Brazil', 'England', 'Uruguay'],
  'Years': [  [2022,1986,1978],
              [2018,1998],
              [2014,1990,1974,1954],
              [2010],
              [2006,1982,1938,1934],
              [2002,1994,1970,1962,1958],
              [1966],
              [1950,1930]
          ]
})
df

     winners                           Years
0  Argentina              [2022, 1986, 1978]
1     France                    [2018, 1998]
2    Germany        [2014, 1990, 1974, 1954]
3      Spain                          [2010]
4      Italy        [2006, 1982, 1938, 1934]
5     Brazil  [2002, 1994, 1970, 1962, 1958]
6    England                          [1966]
7    Uruguay                    [1950, 1930]

In [84]:
lst = [ (yr, df.loc[_,'winners']) for _ in range(len(df)) for yr in df.loc[_,'Years'] ]
lst = pd.DataFrame( sorted(lst, key=lambda x: x[0], reverse=True) , columns=['Year', 'Winner'] )
lst

    Year     Winner
0   2022  Argentina
1   2018     France
2   2014    Germany
3   2010      Spain
4   2006      Italy
5   2002     Brazil
6   1998     France
7   1994     Brazil
8   1990    Germany
9   1986  Argentina
10  1982      Italy
11  1978  Argentina
12  1974    Germany
13  1970     Brazil
14  1966    England
15  1962     Brazil
16  1958     Brazil
17  1954    Germany
18  1950    Uruguay
19  1938      Italy
20  1934      Italy
21  1930    Uruguay

In [81]:
pd.DataFrame(lst, columns=['Year','Winner'])

    Year     Winner
0   2022  Argentina
1   2018     France
2   2014    Germany
3   2010      Spain
4   2006      Italy
5   2002     Brazil
6   1998     France
7   1994     Brazil
8   1990    Germany
9   1986  Argentina
10  1982      Italy
11  1978  Argentina
12  1974    Germany
13  1970     Brazil
14  1966    England
15  1962     Brazil
16  1958     Brazil
17  1954    Germany
18  1950    Uruguay
19  1938      Italy
20  1934      Italy
21  1930    Uruguay

In [46]:
lst = []
for _ in range(len(df)):
  for yr in df.loc[_,'Years']:
    lst.append((yr, df.loc[_,'winners']))
lst = sorted(lst, key=lambda x: x[0], reverse=True)
lst

[(2022, 'Argentina'),
 (2018, 'France'),
 (2014, 'Germany'),
 (2010, 'Spain'),
 (2006, 'Italy'),
 (2002, 'Brazil'),
 (1998, 'France'),
 (1994, 'Brazil'),
 (1990, 'Germany'),
 (1986, 'Argentina'),
 (1982, 'Italy'),
 (1978, 'Argentina'),
 (1974, 'Germany'),
 (1970, 'Brazil'),
 (1966, 'England'),
 (1962, 'Brazil'),
 (1958, 'Brazil'),
 (1954, 'Germany'),
 (1950, 'Uruguay'),
 (1938, 'Italy'),
 (1934, 'Italy'),
 (1930, 'Uruguay')]

In [51]:
winners = []
years = []
for _ in range(len(df)):
  for yr in df.loc[_,'Years']:
    winners.append(df.loc[_,'winners'])
    years.append(yr)
df_1 = pd.DataFrame({ 'Year': years, 'Winner': winners})
df_1.sort_values(by='Year', ascending=False)

    Year     Winner
0   2022  Argentina
3   2018     France
5   2014    Germany
9   2010      Spain
10  2006      Italy
14  2002     Brazil
4   1998     France
15  1994     Brazil
6   1990    Germany
1   1986  Argentina
11  1982      Italy
2   1978  Argentina
7   1974    Germany
16  1970     Brazil
19  1966    England
17  1962     Brazil
18  1958     Brazil
8   1954    Germany
20  1950    Uruguay
12  1938      Italy
13  1934      Italy
21  1930    Uruguay

In [63]:
txt=" 1980"
txt.strip()

'1980'

In [73]:
pd.DataFrame({'Year':[2010], 'Country':['Australia']})

   Year    Country
0  2010  Australia

In [80]:
df_2 = pd.DataFrame(columns=['Year', 'Winner'])
for _ in range(len(df)):
  for yr in df.loc[_,'Years']:
    df_2 = pd.concat( [df_2, pd.DataFrame( {'Year':[yr], 'Winner':[df.loc[_,'winners']]} )] ).sort_values(by='Year', ascending=False)
df_2

   Year     Winner
0  2022  Argentina
0  2018     France
0  2014    Germany
0  2010      Spain
0  2006      Italy
0  2002     Brazil
0  1998     France
0  1994     Brazil
0  1990    Germany
0  1986  Argentina
0  1982      Italy
0  1978  Argentina
0  1974    Germany
0  1970     Brazil
0  1966    England
0  1962     Brazil
0  1958     Brazil
0  1954    Germany
0  1950    Uruguay
0  1938      Italy
0  1934      Italy
0  1930    Uruguay

In [89]:
lst = [89, 89]
c, *a = lst

In [90]:
print(c, a)

89 [89]

In [91]:
*d = lst
d

SyntaxError: starred assignment target must be in a list or tuple (1441701379.py, line 1)