## How to Interact with this Jupyter Notebook

In this activity, you will use a Jupyter Notebook, which integrates both text and code. The gray boxes contain executable code, which you will run in order to view its output. The text in between the code provides instructions.

## Scenario: Taming the Book Stacks: Sorting and Searching in Python

You're managing a growing digital library catalog. As the collection expands, it becomes increasingly challenging to keep the books organized and ensure users can quickly find what they're looking for. Manual sorting and searching would be time-consuming and inefficient.  This is where the power of sorting and searching algorithms comes in. By implementing these techniques, you can create a user-friendly catalog that allows for easy browsing and swift retrieval of any book, no matter how large the library becomes.

### Why Sorting and Searching Algorithms Matter:

* **Efficient Navigation:** Sorting algorithms arrange book data in a logical order, making it easier for users (or librarians!) to browse and find what they need. Think of it like arranging books alphabetically on a shelf – it saves everyone time and frustration.

* **Rapid Retrieval:** Search algorithms enable quick and precise book lookup. Whether you're searching by title, author, or other criteria, these algorithms act like a librarian's expert knowledge, pinpointing the desired book efficiently.

* **Scalability:** As libraries grow (and digital collections can grow very large), sorting and searching algorithms become even more crucial. They ensure that the library system remains responsive and user-friendly, even with thousands or millions of books.

* **Flexibility:** These algorithms aren't just for libraries. They are fundamental tools for organizing and accessing data in countless applications, from online stores to search engines. Understanding them equips you with valuable skills for working with data in any field.


## Activity Summary:

In this activity, you will:

* **Sort Book Data:** Learn how to sort a list of book dictionaries, creating a well-organized digital catalog.
* **Implement Linear Search:** Discover how to systematically search through your book collection, examining each item one by one.
* **Implement Binary Search:** Explore a more efficient search method that leverages sorted data to quickly find specific books.
* **Compare and Contrast:** Understand the tradeoffs between different search algorithms, empowering you to choose the best approach for various scenarios.

Begin by running the cell below, which imports the `pandas` library and loads the csv file named `book_catalog_10.csv`.

In [37]:
# Import a powerful tool called "pandas" that you'll use to work with and organize data easily
import pandas as pd

# Load the book catalog from the CSV file
book_catalog_df = pd.read_csv('book_catalog_10.csv')
print(book_catalog_df.shape)
book_catalog_df.head()

(10, 3)

                    title               author  publication_year
0                    1984        George Orwell              1949
1     Pride and Prejudice          Jane Austen              1813
2  The Catcher in the Rye        J.D. Salinger              1951
3        The Great Gatsby  F. Scott Fitzgerald              1925
4   To Kill a Mockingbird           Harper Lee              1960

Notice that nothing has been output from the cell after you ran it. That's because you didn't print any of the results of the csv, you only loaded it in the cell above as a **DataFrame**.

Think of a DataFrame like a super-organized table. It has rows and columns, just like a spreadsheet you might have used before. This structure makes it really easy to view, manage, and analyze your book data.  

Run the cell below, which converts the DataFrame `book_catalog_df` above into a **dictionary** and then prints the results. 

Imagine a dictionary as a collection of labeled boxes. Each box has a label (called a "key") and something stored inside (called a "value").  In our case, each "box" represents a book, and the labels are things like "title", "author", and "publication_year".

You're doing this conversion because it will make it easier to work with the book data.

In [38]:
book_catalog_df.to_dict(orient='records')[0]

{'title': '1984', 'author': 'George Orwell', 'publication_year': 1949}

In [39]:
# Convert the DataFrame to a list of dictionaries
book_catalog = book_catalog_df.to_dict(orient='records')

# Print the list of dictionaries
print(book_catalog)

[{'title': '1984', 'author': 'George Orwell', 'publication_year': 1949}, {'title': 'Pride and Prejudice', 'author': 'Jane Austen', 'publication_year': 1813}, {'title': 'The Catcher in the Rye', 'author': 'J.D. Salinger', 'publication_year': 1951}, {'title': 'The Great Gatsby', 'author': 'F. Scott Fitzgerald', 'publication_year': 1925}, {'title': 'To Kill a Mockingbird', 'author': 'Harper Lee', 'publication_year': 1960}, {'title': 'The Lord of the Rings', 'author': 'J.R.R. Tolkien', 'publication_year': 1954}, {'title': "Harry Potter and the Philosopher's Stone", 'author': 'J.K. Rowling', 'publication_year': 1997}, {'title': "The Hitchhiker's Guide to the Galaxy", 'author': 'Douglas Adams', 'publication_year': 1979}, {'title': 'The Da Vinci Code', 'author': 'Dan Brown', 'publication_year': 2003}, {'title': 'The Hunger Games', 'author': 'Suzanne Collins', 'publication_year': 2008}]

Great! Now that you've printed the `book_catalog`, you can see that it is organized as a list of dictionaries.  

Remember, each dictionary is like a labeled box holding information about one book. Inside each "box," you'll find pairs of labels (called "keys") and the information associated with them (called "values"). 

For example, the key "title" is paired with the value "1984", telling us the name of the book.  

Take a quick glance at the output above to see if you can spot any familiar titles or authors within those curly brackets.

Although you have the `book catalog` printed out, it is a bit jumbled, isn't it?  Imagine trying to find a specific book in a messy library – it would take forever!

That's why you need to sort the `book catalog`.  Just like arranging books alphabetically on a shelf, sorting makes it much easier to browse and find what you're looking for. 

The code in the cell below does exactly that! Before you run it, let's break it down:

* **Helper Functions:**  In programming, a helper function is simply a function that assists another function in completing its task.  Think of these like little librarian assistants.  They perform specific tasks to make the main job (sorting the catalog) easier.
    * `get_title(book)`:  This helper simply plucks the title out of a book's dictionary, so we can focus on just that when sorting. 
    * `sort_catalog_by_title(catalog)`: This is the main librarian in charge of sorting.  It uses a special Python trick (`catalog.sort()`) to arrange all the books in alphabetical order by their titles. 
    
* **Putting It All Together:**
    * The code calls the `sort_catalog_by_title` function to do the actual sorting. 
    * Then, the code prints out the nicely organized catalog so you can see the results! 

**Ready to see it in action? Run the cell below!**

In [40]:
# Helper function 1: 
def get_title(book): 
  """Helper function to extract the title from a book dictionary."""
  return book['title']

# Helper function 2: 
def sort_catalog_by_title(catalog): 
  """Sorts the book catalog alphabetically by title."""
  catalog.sort(key=get_title)
    
# Sort the catalog
sort_catalog_by_title(book_catalog)

# Display the sorted catalog
for book in book_catalog:
  print(f"Title: {book['title']}, Author: {book['author']}, Publication Year: {book['publication_year']}")

Title: 1984, Author: George Orwell, Publication Year: 1949
Title: Harry Potter and the Philosopher's Stone, Author: J.K. Rowling, Publication Year: 1997
Title: Pride and Prejudice, Author: Jane Austen, Publication Year: 1813
Title: The Catcher in the Rye, Author: J.D. Salinger, Publication Year: 1951
Title: The Da Vinci Code, Author: Dan Brown, Publication Year: 2003
Title: The Great Gatsby, Author: F. Scott Fitzgerald, Publication Year: 1925
Title: The Hitchhiker's Guide to the Galaxy, Author: Douglas Adams, Publication Year: 1979
Title: The Hunger Games, Author: Suzanne Collins, Publication Year: 2008
Title: The Lord of the Rings, Author: J.R.R. Tolkien, Publication Year: 1954
Title: To Kill a Mockingbird, Author: Harper Lee, Publication Year: 1960

Look at that! Your book catalog is now sorted alphabetically by title. 

It's much easier to find a specific book now, isn't it? This is the power of sorting algorithms – bringing order to data so we can navigate it more efficiently. 

But what if you want to find a book without scanning the entire list? That's where search algorithms come in handy.  They help you pinpoint specific items within a dataset, just like a librarian helps you find a book on the shelf.

In the next cell, you'll explore one such algorithm called **linear search**.  It's like systematically checking each book on a shelf until we find the one we're looking for. But how does checking each book on a shelf one by one translate into Python code?

Let's breakdown the code in the following cell before running it: 

The `search_books` function below does the following:

1. **Takes Input:** It needs two things to work:
    * The `catalog`:  This is your sorted list of book dictionaries.
    * The `query`:  This is what you're searching for – it could be a book title or an author's name. 


2. **Sets up a List for Results:** It creates an empty list called `results` to store any books that match our search. 

3. **Checks Each Book:**  It goes through each `book` in the `catalog`:
    * It converts both the `query` and the book's `title` and `author` to lowercase. This makes the search case-insensitive (so "the great gatsby" and "The Great Gatsby" are considered the same). 
    * It checks if the `query` is found within the book's `title` OR the book's `author`.
    * If there's a match, it adds that `book` to the `results` list. 


4. **Returns the Results:**  Finally, it gives you back the `results` list, which contains all the books that matched our search (or an empty list if nothing was found).

**In simpler terms, it's like going through each book on the shelf, checking if it's the one you want, and putting it aside if it is.**

**Ready to see it in action? Run the cell below!**

In [41]:
# Helper function: Linear Search
def search_books(catalog, query):
  """Searches for books by title or author using linear search."""
  results = []
  for book in catalog:
    if query.lower() in book['title'].lower() or query.lower() in book['author'].lower():
      results.append(book)
  return results

Now that you have your `search_books` function ready, put it to the test!

In the code cell below:

1. **Fill in the Query:**  Replace the empty quotes (`""`) in the `query` variable with the title **"The Great Gatsby"**.  This is the book you'll try to find in your catalog.

2. **Run the Code:**  Execute the cell to see if your linear search can locate the book. 

If everything works correctly, you should see the details of "The Great Gatsby" printed out!

In [42]:
# Search for "The Great Gatsby" 
query = "The Great Gatsby"  
search_results = search_books(book_catalog, query)

if search_results:
  print("\nSearch results:")
  for book in search_results:
    print(f"Title: {book['title']}, Author: {book['author']}, Publication Year: {book['publication_year']}")
else:
  print("No books found matching your query.")

Search results:
Title: The Great Gatsby, Author: F. Scott Fitzgerald, Publication Year: 1925

Great! Now try searching for "Dune" in the query and run the cell.

Notice the output.

In [43]:
# Search for "Dune" 
query = "J."
search_results = search_books(book_catalog, query)

if search_results:
  print("\nSearch results:")
  for book in search_results:
    print(f"Title: {book['title']}, Author: {book['author']}, Publication Year: {book['publication_year']}")
else:
  print("No books found matching your query.")

Search results:
Title: Harry Potter and the Philosopher's Stone, Author: J.K. Rowling, Publication Year: 1997
Title: The Catcher in the Rye, Author: J.D. Salinger, Publication Year: 1951
Title: The Lord of the Rings, Author: J.R.R. Tolkien, Publication Year: 1954

Your `search_books` function is working well, but it is also versatile!  It can search for books by *either* title *or* author. 

Try searching for an author instead of a book.

1. **Fill in the Query:**  Replace the empty quotes (`""`) in the `query` variable with the author **"J.K. Rowling"**.  This is the author you'll try to find in your catalog.

2. **Run the Code:** Execute the cell and observe the results.

In [44]:
book_catalog[0]

{'title': '1984', 'author': 'George Orwell', 'publication_year': 1949}

In [45]:
book_catalog[0]['author'].lower()

'george orwell'

In [46]:
# Search for author
query = "J.K. Rowling" 
search_results = search_books(book_catalog, query)

if search_results:
  print("\nSearch results:")
  for book in search_results:
    print(f"Title: {book['title']}, Author: {book['author']}, Publication Year: {book['publication_year']}")
else:
  print("No books found matching your query.")

Search results:
Title: Harry Potter and the Philosopher's Stone, Author: J.K. Rowling, Publication Year: 1997

Even though you searched for an author's name, not a book title, you still got a result! Take a moment to review the `search_books` function code above to see why this is the case.

Your linear search algorithm is working well, but it can be a bit slow if you have a *huge* library.  Imagine searching for a book in a massive bookstore by checking every single title one by one – that would take a very long time!

Luckily, there's a faster way when your catalog is sorted: **binary search**. It's like playing a guessing game where you keep halving the possibilities until you find what you're looking for. But how does this translate into Python code?

Let's breakdown the code in the following cell before running it: 

Here is what the `binary_search_books` function does:

1. **Takes Input:**  Just like linear search, it needs the `catalog` and the `query` (the book title we're searching for).

2. **Sets Up Boundaries:**  It starts by marking the beginning (`low`) and the end (`high`) of the catalog.

3. **The Guessing Game:**
   * It calculates the middle point (`mid`) between `low` and `high`.
   * It checks if the book at the `mid` point is the one we're looking for.
   * If not, it compares the book's title at the `mid` point to our `query`:
     * If the `mid` point title is "less than" our `query`, we know the book we want must be in the *higher* half of the catalog, so we adjust `low` to `mid + 1`.
     * If the `mid` point title is "greater than" our `query`, we know the book we want must be in the *lower* half, so we adjust `high` to `mid - 1`.
   * It keeps repeating this process, narrowing down the search area by half each time, until it finds the book or determines it's not there.


4. **Returns the Result:**  If it finds the book, it returns the entire book dictionary. Otherwise, it returns `None` to indicate the book wasn't found.

**Think of it like this:** You're looking for a word in a dictionary. Instead of starting from the beginning, you open it somewhere in the middle. If the word you want comes *after* the words on that page, you flip to the second half of the dictionary. If it comes *before*, you flip to the first half. You keep doing this until you find the exact page!

**Ready to see it in action? Run the cell below!**

In [47]:
type(book_catalog)

list

In [48]:
def binary_search_books(catalog, query):
  """Searches for books by title using binary search (assuming sorted catalog)."""
  low = 0
  high = len(catalog) - 1

  while low <= high:
    mid = (low + high) // 2
    if catalog[mid]['title'].lower() == query.lower():
      return catalog[mid]
    elif catalog[mid]['title'].lower() < query.lower():
      low = mid + 1
    else:
      high = mid - 1

  return None  # Book not found

In the cells above, you used linear search to find "The Great Gatsby", but can you find it even *faster*? 

Remember, binary search is super speedy when our data is sorted. It works by repeatedly dividing the search area in half, like a high-tech guessing game.

The problem is that your `book_catalog_10.csv` dataset is much too small for you to observe the difference between these two search algorithms. In the code cells below, you will find that a much larger `big_book_catalog.csv` dataset has been loaded for you. 

It has around 271,380 rows!


1. **Run the Following Two Cells:**  The cells below each already have the query set to `"The Great Gatsby"`. Each cell also has uses the `time` module to measure the execution time of the `search_books` and `binary_search_books` functions by recording timestamps before and after the search and then calculating the difference.

2. **Observe the Output of Each Cell:** Which one was faster?

In [54]:
# Loads the big_book_catalog which has which has ~271,380 rows!
big_book_catalog_df = pd.read_csv('big_book_catalog.csv', low_memory=False)
big_book_catalog = book_catalog_df.to_dict(orient='records')

# Searches for "The Great Gatsby" using Linear Search
query = "The Great Gatsby"  

# This is like using a stopwatch to see how long it takes to find the books. 
# We start the timer, do the search, then stop the timer and calculate how much time passed.
import time
start_time = time.time()  # Record start time
search_results = search_books(big_book_catalog, query)
end_time = time.time()    # Record end time
elapsed_time_linear = end_time - start_time

# This is like using a stopwatch to see how long it takes to find the books. 
# We start the timer, do the search, then stop the timer and calculate how much time passed.
start_time = time.time()  # Record start time
search_results = search_books(big_book_catalog, query)
end_time = time.time()    # Record end time
elapsed_time_linear = end_time - start_time

if search_results:
  print("\nSearch results:")
  for book in search_results:
    print(f"Title: {book['title']}, Author: {book['author']}, Publication Year: {book['publication_year']}")
else:
  print("No books found matching your query.")

print(f"\nLinear search took {elapsed_time_linear:.5f} seconds.")

Search results:
Title: The Great Gatsby, Author: F. Scott Fitzgerald, Publication Year: 1925

Linear search took 0.00001 seconds.

In [53]:
# This is like using a stopwatch to see how long it takes to find the books. 
# We start the timer, do the search, then stop the timer and calculate how much time passed.
import time
start_time = time.time()
search_result = binary_search_books(book_catalog, query)
end_time = time.time()
elapsed_time_binary = end_time - start_time

# Loads the big_book_catalog which has which has ~271,380 rows!
big_book_catalog_df = pd.read_csv('big_book_catalog.csv', low_memory=False)
big_book_catalog = book_catalog_df.to_dict(orient='records')

# Searches for "The Great Gatsby" using Binary Search
query = "The Great Gatsby"
start_time = time.time()
search_result = binary_search_books(big_book_catalog, query)
end_time = time.time()
elapsed_time_binary = end_time - start_time


if search_result:
  print("\nBinary Search Result for 'The Great Gatsby':")
  print(f"Title: {search_result['title']}, Author: {search_result['author']}, Publication Year: {search_result['publication_year']}")
else:
  print("Binary Search: Book not found")

print(f"\nBinary search took {elapsed_time_binary:.5f} seconds.")

Binary Search Result for 'The Great Gatsby':
Title: The Great Gatsby, Author: F. Scott Fitzgerald, Publication Year: 1925

Binary search took 0.00002 seconds.

### Observing the Search Process

While the output for both searches might look the same, the way they got there was quite different! 

* **Linear Search:**  Think back to how linear search works – it checks each book one by one until it reaches the end of the catalog. Since "Dune" isn't there, it had to go through the entire list before giving up. 

* **Binary Search:**  Binary search, on the other hand, is more strategic. It keeps dividing the catalog in half, eliminating large chunks with each step.  Even though our catalog is small, you might have noticed it didn't have to check every single book to know "Dune" wasn't there. 

With the significantly larger dataset (`big_book_catalog.csv`), you should observe a a bigger difference in search times. The linear search, having to potentially check every single book, will likely take a noticeable amount of time. In contrast, the binary search, with its divide-and-conquer strategy, should be considerably faster. This efficiency gain becomes even more crucial as the size of the catalog grows.

* If the catalog had 1,000,000 books, the linear search could potentially take 10 times longer than it did with the current dataset. However, the binary search's time would only increase slightly. It's safe to say that binary search would be dramatically faster in such a scenario, highlighting its superiority for large datasets.

In [57]:
import pandas as pd
df = pd.DataFrame({
    'Data': ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
    'Value': [47, 90, 41, 75, 92, 81, 51, 23, 34, 71, 72, 59]
})
df

   Data  Value
0   Jan     47
1   Feb     90
2   Mar     41
3   Apr     75
4   May     92
5   Jun     81
6   Jul     51
7   Aug     23
8   Sep     34
9   Oct     71
10  Nov     72
11  Dec     59

In [65]:
import math
[*range(1, len(df)+1)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [68]:
df['qtr'] = [math.ceil(i/3) for i in range(1, len(df)+1)]
df

   Data  Value  qtr
0   Jan     47    1
1   Feb     90    1
2   Mar     41    1
3   Apr     75    2
4   May     92    2
5   Jun     81    2
6   Jul     51    3
7   Aug     23    3
8   Sep     34    3
9   Oct     71    4
10  Nov     72    4
11  Dec     59    4

In [69]:
df.groupby('qtr').sum()

          Data  Value
qtr
1    JanFebMar    178
2    AprMayJun    248
3    JulAugSep    108
4    OctNovDec    202

In [70]:
import pandas as pd

# Sample DataFrame with DateTime index
data = {
    'date': pd.date_range(start='2023-01-01', periods=12, freq='M'),
    'value': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120]
}
df = pd.DataFrame(data)
df.set_index('date', inplace=True)

# Calculate quarterly totals
quarterly_totals = df.resample('Q').sum()

# Combine original data with quarterly totals
df['quarter'] = df.index.to_period('Q')
quarterly_totals['quarter'] = quarterly_totals.index.to_period('Q')
combined_df = df.merge(quarterly_totals, on='quarter', suffixes=('', '_quarterly_total'))

print(combined_df)

    value quarter  value_quarterly_total
0      10  2023Q1                     60
1      20  2023Q1                     60
2      30  2023Q1                     60
3      40  2023Q2                    150
4      50  2023Q2                    150
5      60  2023Q2                    150
6      70  2023Q3                    240
7      80  2023Q3                    240
8      90  2023Q3                    240
9     100  2023Q4                    330
10    110  2023Q4                    330
11    120  2023Q4                    330

/var/folders/56/qh58h1053xg7s3gj3196b3yr0000gn/T/ipykernel_94744/3584443101.py:5: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  'date': pd.date_range(start='2023-01-01', periods=12, freq='M'),
/var/folders/56/qh58h1053xg7s3gj3196b3yr0000gn/T/ipykernel_94744/3584443101.py:12: FutureWarning: 'Q' is deprecated and will be removed in a future version, please use 'QE' instead.
  quarterly_totals = df.resample('Q').sum()

In [74]:
df = pd.DataFrame(data)
df.set_index('date', inplace=True)
df

            value
date
2023-01-31     10
2023-02-28     20
2023-03-31     30
2023-04-30     40
2023-05-31     50
2023-06-30     60
2023-07-31     70
2023-08-31     80
2023-09-30     90
2023-10-31    100
2023-11-30    110
2023-12-31    120

In [75]:
df.resample('Q').sum()

/var/folders/56/qh58h1053xg7s3gj3196b3yr0000gn/T/ipykernel_94744/3486629628.py:1: FutureWarning: 'Q' is deprecated and will be removed in a future version, please use 'QE' instead.
  df.resample('Q').sum()

            value
date
2023-03-31     60
2023-06-30    150
2023-09-30    240
2023-12-31    330

In [76]:
import pandas as pd

# Sample DataFrame with DateTime index
data = {
    'date': pd.date_range(start='2023-01-01', periods=12, freq='M'),
    'value': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120]
}
df = pd.DataFrame(data)
df.set_index('date', inplace=True)

# Calculate quarterly totals
quarterly_totals = df.resample('Q').sum()
quarterly_totals['date'] = quarterly_totals.index
quarterly_totals['is_subtotal'] = True

# Add a column to indicate original data
df['is_subtotal'] = False

# Combine original data with quarterly totals
combined_df = pd.concat([df, quarterly_totals]).sort_index()

# Fill missing values in the 'value' column for subtotals
combined_df['value'] = combined_df['value'].fillna(0)

print(combined_df)

            value  is_subtotal       date
date
2023-01-31     10        False        NaT
2023-02-28     20        False        NaT
2023-03-31     30        False        NaT
2023-03-31     60         True 2023-03-31
2023-04-30     40        False        NaT
2023-05-31     50        False        NaT
2023-06-30     60        False        NaT
2023-06-30    150         True 2023-06-30
2023-07-31     70        False        NaT
2023-08-31     80        False        NaT
2023-09-30     90        False        NaT
2023-09-30    240         True 2023-09-30
2023-10-31    100        False        NaT
2023-11-30    110        False        NaT
2023-12-31    120        False        NaT
2023-12-31    330         True 2023-12-31

/var/folders/56/qh58h1053xg7s3gj3196b3yr0000gn/T/ipykernel_94744/3936758139.py:5: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  'date': pd.date_range(start='2023-01-01', periods=12, freq='M'),
/var/folders/56/qh58h1053xg7s3gj3196b3yr0000gn/T/ipykernel_94744/3936758139.py:12: FutureWarning: 'Q' is deprecated and will be removed in a future version, please use 'QE' instead.
  quarterly_totals = df.resample('Q').sum()

In [83]:
import pandas as pd

df = pd.DataFrame({
    'Data': ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
    'Value': [47, 90, 41, 75, 92, 81, 51, 23, 34, 71, 72, 59]
})

df['Date'] = pd.to_datetime(df['Data'],  format='%b')
df.set_index('Date', inplace=True)

# # Calculate quarterly totals
quarterly_totals = df.resample('QE').sum()

# Combine original data with quarterly totals
combined_df = pd.concat([df, quarterly_totals]).sort_index()

# Add Quarter Total
combined_df['Data'] = combined_df['Data'].apply(lambda x: 'Quarter Total' if len(x)> 3 else x )
combined_df.reset_index(inplace=True, drop=True)
combined_df

             Data  Value
0             Jan     47
1             Feb     90
2             Mar     41
3   Quarter Total    178
4             Apr     75
5             May     92
6             Jun     81
7   Quarter Total    248
8             Jul     51
9             Aug     23
10            Sep     34
11  Quarter Total    108
12            Oct     71
13            Nov     72
14            Dec     59
15  Quarter Total    202

In [103]:
import random
lst_original = [random.randint(1, 1000) for i in range(10000)]
len(lst_original)

10000

In [104]:
def simple_sort(numbers):
    sorted_numbers = []
    while numbers:
        lowest_number = min(numbers)
        sorted_numbers.append(lowest_number)
        numbers.remove(lowest_number)
    return sorted_numbers

def quicksort(numbers):
    if len(numbers) < 2:
        return numbers  # Base case: Already sorted if 0 or 1 element
    else:
        pivot = numbers[0]  # Choose first number as pivot
        less = [i for i in numbers[1:] if i <= pivot]
        greater = [i for i in numbers[1:] if i > pivot]
        return quicksort(less) + [pivot] + quicksort(greater)

In [106]:
import time
lst = lst_original.copy()   
start_time = time.time()
ss = simple_sort(lst)
print(f"Simple Sort took {time.time() - start_time} seconds.")

lst = lst_original.copy()
start_time = time.time()
qs = quicksort(lst)
print(f"Quicksort took {time.time() - start_time} seconds.")

lst = lst_original.copy()
start_time = time.time()
sl = sorted(lst)
print(f"Python's built-in sort took {time.time() - start_time} seconds.")

Simple Sort took 0.4183380603790283 seconds.
Quicksort took 0.008480072021484375 seconds.
Python's built-in sort took 0.0006420612335205078 seconds.

In [107]:
lst[1:10]

[717, 89, 106, 830, 879, 959, 461, 494, 433]

In [108]:
ss[1:10]

[1, 1, 1, 1, 1, 1, 1, 1, 1]

In [109]:
qs[1:10]

[1, 1, 1, 1, 1, 1, 1, 1, 1]

In [110]:
sl[1:10]

[1, 1, 1, 1, 1, 1, 1, 1, 1]

In [111]:
"hello" * 5

'hellohellohellohellohello'

In [112]:
len(7)

TypeError: object of type 'int' has no len()

In [113]:
import logging
try:
    result = 7 / 0
except ZeroDivisionError as e:
    logging.error("Exception occurred", exc_info=True)

ERROR:root:Exception occurred
Traceback (most recent call last):
  File "/var/folders/56/qh58h1053xg7s3gj3196b3yr0000gn/T/ipykernel_94744/1235731517.py", line 3, in <module>
    result = 7 / 0
             ~~^~~
ZeroDivisionError: division by zero

In [142]:
def get_city_population(populations, city):
    try:
        return populations[city]
    except KeyError:
        raise KeyError(f' City {city} not found in the population data.') #f' City {city} not found in the population data.'

city_populations = {"New York": 8336817, "Los Angeles": 3979576, "Chicago": 2679044}

city_name = "Tampa"

In [143]:
get_city_population(city_populations, 'Chicago')

2679044

In [144]:
get_city_population(city_populations, city_name)

KeyError: ' City Tampa not found in the population data.'