In [2]:
import time
from functools import wraps
from typing import Callable, Any
from time import sleep


def retry(retries: int = 3, delay: float = 1) -> Callable:
    """
    Attempt to call a function, if it fails, try again with a specified delay.

    :param retries: The max amount of retries you want for the function call
    :param delay: The delay (in seconds) between each function retry
    :return:
    """

    # Don't let the user use this decorator if they are high
    if retries < 1 or delay <= 0:
        raise ValueError('Are you high, mate?')

    def decorator(func: Callable) -> Callable:
        @wraps(func)
        def wrapper(*args, **kwargs) -> Any:
            for i in range(1, retries + 1):  # 1 to retries + 1 since upper bound is exclusive

                try:
                    print(f'Running ({i}): {func.__name__}()')
                    return func(*args, **kwargs)
                except Exception as e:
                    # Break out of the loop if the max amount of retries is exceeded
                    if i == retries:
                        print(f'Error: {repr(e)}.')
                        print(f'"{func.__name__}()" failed after {retries} retries.')
                        break
                    else:
                        print(f'Error: {repr(e)} -> Retrying...')
                        sleep(delay)  # Add a delay before running the next iteration

        return wrapper

    return decorator


@retry(retries=3, delay=1)
def connect() -> None:
    time.sleep(1)
    raise Exception('Could not connect to internet...')


def main() -> None:
    connect()


if __name__ == '__main__':
    main()

Running (1): connect()
Error: Exception('Could not connect to internet...') -> Retrying...
Running (2): connect()
Error: Exception('Could not connect to internet...') -> Retrying...
Running (3): connect()
Error: Exception('Could not connect to internet...').
"connect()" failed after 3 retries.

In [1]:
import time 
def connect()-> None:
    time.sleep(1)
    raise Exception('Could not connect ... ')

In [6]:
import pandas as pd
df = pd.DataFrame(
    {
    'sr':[1,2,3,4,5,6],
    'day':['Monday', 'Tuesday', 'Thusday', 'Thusday', 'Thursday', 'Thusday']
    }
)
df

   sr       day
0   1    Monday
1   2   Tuesday
2   3   Thusday
3   4   Thusday
4   5  Thursday
5   6   Thusday

In [7]:
df['day'] = df['day'].str.replace('Thusday', 'Thursday')
df

   sr       day
0   1    Monday
1   2   Tuesday
2   3  Thursday
3   4  Thursday
4   5  Thursday
5   6  Thursday

In [8]:
df.isnull().sum()

sr     0
day    0
dtype: int64

In [9]:
df = pd.read_csv(r'C:\Users\anshu\OneDrive\Code\Python\Python\Developer\018_Introduction_to_Testing_in_Python\Datasets\energy_truncated.csv')
df.head()

,COUNTRY,CODE_TIME,TIME,YEAR,MONTH,MONTH_NAME,PRODUCT,VALUE,DISPLAY_ORDER,yearToDate,previousYearToDate,share
0,Korea,MAY2013,May 2013,2013,5,May,Final consumption,39473.035000,20,4.977509e+05,2.051108e+05,0.954033
1,IEA Total,FEB2016,February 2016,2016,2,February,Natural gas,211339.729825,10,2.795270e+06,4.333656e+05,0.247120
2,India,DEC2018,December 2018,2018,12,December,Electricity supplied,123155.012250,17,1.519538e+06,1.405865e+06,1.000000
3,Mexico,MAR2011,March 2011,2011,3,March,Oil,3417.958000,9,4.496532e+04,9.899519e+03,0.146939
4,Denmark,JAN2022,January 2022,2022,1,January,Total exports,1654.782877,16,1.736937e+04,1.150371e+03,0.424906

In [10]:
df.drop('previousYearToDate', axis=1, inplace=True)

In [11]:
df = df.groupby('COUNTRY')\
            .agg({'VALUE': 'sum'})

In [14]:
df.isnull().sum().sum()

0

In [34]:
path = r'C:\Users\anshu\Downloads'
file = 'subject.csv'
subject_df = pd.read_csv(path+'/'+file)
subject_df['duplicate_id'] = subject_df.duplicated(subset=['work_id'])
dups = list(subject_df[subject_df['duplicate_id']==True]['work_id'])

In [35]:
subject_df[subject_df['work_id'].isin(dups)].sort_values(by='work_id')

      work_id        subject  duplicate_id
3714      389        Gardens          True
3713      389        Flowers         False
3723      414         Lovers          True
3722      414        Gardens         False
6483      466        Bridges         False
...       ...            ...           ...
978    204878   Christianity         False
1410   207471  Landscape Art         False
1411   207471         Winter          True
4923   207522    Autumn/Fall         False
4924   207522  Landscape Art          True

[1497 rows x 3 columns]

In [36]:
path = r'C:\Users\anshu\Downloads'
file = 'work.csv'
work_df = pd.read_csv(path+'/'+file)
work_df['duplicate_id'] = work_df.duplicated(subset=['work_id'])
dups = list(work_df[work_df['duplicate_id']==True]['work_id'])

In [37]:
work_df[work_df['work_id'].isin(dups)].sort_values(by='work_id')

,work_id,name,artist_id,style,museum_id,duplicate_id
1135,122662,The Dunes at Camiers,862,Realism,NaN,False
11103,122662,The Dunes at Camiers,862,Realism,NaN,True
1130,122691,Landscape with a Sunlit Stream,862,Realism,NaN,False
11061,122691,Landscape with a Sunlit Stream,862,Realism,NaN,True
5878,181318,"Maroon, Pink and Shade of Red",770,NaN,NaN,False
...,...,...,...,...,...,...
8152,181925,Light Blue and Pink,770,NaN,NaN,True
5897,181932,"Purple, White Stripe on Soft Orange",770,NaN,NaN,False
12233,181932,"Purple, White Stripe on Soft Orange",770,NaN,NaN,True
12194,181941,"Blue Stripe, Orange Shades",770,NaN,NaN,True
5859,181941,"Blue Stripe, Orange Shades",770,NaN,NaN,False

In [1]:
num: float = 10000.123456
text: str = 'SAMPLE'

In [7]:
print(f'{text:<20}')
print(f'{text:>20}')
print(f'{text:^20}')
print(f'{text:_<20}')
print(f'{text:_>20}')
print(f'{text:.^20}')

SAMPLE
              SAMPLE
       SAMPLE
SAMPLE______________
______________SAMPLE
.......SAMPLE.......

In [11]:
print(f'{num:.2f}')
print(f'{num:_.2f}')
print(f'{num:,.2f}')
print(f'{num:#.2f}')
print(f'{num:_.2%}')

10000.12
10_000.12
10,000.12
10000.12
1_000_012.35%

In [12]:
num = 1_000_000
print(f'{num:.0e}')

1e+06

In [13]:
import datetime as dtt

current_date = dtt.datetime.now()
print(f'{current_date:%d-%B-%Y}')

17-April-2024

E3g#7S+m)PW382)

Here is an article on Python formatted strings (f-strings) that you can publish on Medium:

---

# An Introduction to Python Formatted Strings (f-strings)

Python has been a popular programming language for many years, renowned for its simplicity and readability. One of its standout features is the ability to work with strings in an intuitive manner. In Python 3.6, the language introduced a new string formatting method known as formatted strings, or f-strings. In this article, we'll take a look at f-strings, how they work, and why they make your code easier to read and write.

## What Are f-strings?

An f-string is a way to embed expressions and variables directly into a string. This type of string is defined by prefixing the string literal with the letter `f` or `F`. F-strings are sometimes referred to as "formatted string literals." 

Here’s a simple example to demonstrate the usage of f-strings:

```python
name = "Alice"
age = 30
greeting = f"Hello, my name is {name} and I am {age} years old."
print(greeting)
```
In this example, `name` and `age` are variables embedded in the string. The curly braces `{}` are used to contain the expressions that will be evaluated and substituted into the string. The output of the code will be:

```
Hello, my name is Alice and I am 30 years old.
```

## Benefits of f-strings

Here are a few benefits of using f-strings in your Python code:

1. **Readability**: F-strings improve the readability of your code by allowing you to embed expressions and variables directly into the string, making it clear what is happening.

2. **Performance**: F-strings are faster than older string formatting methods, such as `%` formatting and `str.format()`.

3. **Flexibility**: F-strings allow for advanced formatting options such as setting precision, padding, and alignment.

4. **Expression Evaluation**: You can use any valid Python expression inside the curly braces of an f-string, including function calls and arithmetic operations.

## Advanced Usage

Let's look at some advanced usage scenarios of f-strings:

1. **Expressions**: You can perform operations and call functions directly in the f-string:

    ```python
    length = 5
    width = 3
    area = f"The area of the rectangle is {length * width} square units."
    print(area)
    ```

    Output:
    ```
    The area of the rectangle is 15 square units.
    ```

2. **Formatting Options**: F-strings provide formatting options similar to the `str.format()` method. For example, you can control precision, alignment, padding, and more:

    ```python
    value = 123.45678
    print(f"Rounded to 2 decimal places: {value:.2f}")
    print(f"Padded to 10 characters: {value:10}")
    print(f"Left-aligned: {value:<10}")
    ```

    Output:
    ```
    Rounded to 2 decimal places: 123.46
    Padded to 10 characters: 123.45678
    Left-aligned: 123.45678
    ```

3. **String Methods**: You can use string methods directly in the curly braces of an f-string:

    ```python
    name = "john"
    print(f"Capitalized name: {name.capitalize()}")
    ```

    Output:
    ```
    Capitalized name: John
    ```

## Best Practices

Here are some best practices when working with f-strings:

- **Use f-strings for clarity**: When your string requires interpolation, use f-strings to keep the code clear and readable.

- **Avoid excessive expressions**: While f-strings support any valid Python expression, try to keep them concise to maintain readability.

- **Stick to consistent formatting**: Ensure that you follow consistent formatting rules for expressions in your f-strings.

## Conclusion

F-strings provide a powerful and elegant way to work with strings in Python. They simplify the process of string formatting and allow you to embed variables and expressions directly into your strings, making your code more readable and efficient.

Give f-strings a try in your next Python project and see how they can enhance your code. Happy coding!

---

In [38]:
value = 123456789.45678
width = 20
precision = 2
print(f"Rounded to 2 decimal places with ',' as 1000's separator : {value:{width}.{precision}f}")

ValueError: Invalid format specifier ',20.2f' for object of type 'float'

# A Detailed Guide to Python Formatted Strings Literals (f-strings)

Python, known for its simplicity and readability, introduced formatted strings literals (f-strings) in Python 3.6. F-strings provide an elegant and efficient way to format strings in Python by embedding expressions and variables directly into the string literals. In this article, we will explore f-strings in depth, demonstrating their usage and explaining their advanced features.

## What Are f-strings?

Formatted strings, often referred to as f-strings, are string literals prefixed with the letter `f` or `F`. This prefix allows you to embed expressions and variables inside the string using curly braces `{}`. The expressions inside the curly braces are evaluated at runtime and replaced with their corresponding values.

Here’s a simple example:

```python
name = "Alice"
age = 30
greeting = f"Hello, my name is {name} and I am {age} years old."
print(greeting)
```

In this example, the variables `name` and `age` are embedded in the string. The curly braces `{}` contain the expressions that will be evaluated and substituted into the string. The output of the code will be:

```
Hello, my name is Alice and I am 30 years old.
```

## Benefits of f-strings

F-strings offer several advantages over other string formatting methods in Python:

1. **Readability**: F-strings make your code more readable by directly embedding expressions and variables into the string, which clearly shows how the final string is constructed.

2. **Performance**: F-strings are faster than older string formatting methods such as `%` formatting and `str.format()`.

3. **Expression Evaluation**: You can use any valid Python expression inside the curly braces of an f-string, including arithmetic operations, function calls, and string methods.

4. **Flexibility**: F-strings allow for advanced formatting options such as controlling precision, alignment, padding, and other string formatting features.

## Advanced Usage of f-strings

Let's explore some advanced usage scenarios of f-strings:

### 1. Arithmetic Operations and Functions

You can perform arithmetic operations and call functions directly in an f-string:

```python
length = 5
width = 3
area = f"The area of the rectangle is {length * width} square units."
print(area)
```

This code calculates the area of a rectangle and embeds the result in the f-string. The output will be:

```
The area of the rectangle is 15 square units.
```

### 2. Formatting Options

F-strings provide a range of formatting options similar to those available with the `str.format()` method. You can control precision, padding, alignment, and more:

- **Precision**: Control the number of decimal places in a floating-point number using `.xf`, where `x` is the desired number of decimal places:

    ```python
      value = 123.45678
      print(f"Rounded to 2 decimal places: {value:.2f}")

      value = 123456789.45678
      width = 20
      precision 2
      print(f"Rounded to 2 decimal places with ',' as 1000's separator : {value:,.2f}")
    ```

    Output:
    ```
    Rounded to 2 decimal places: 123.46
    Rounded to 2 decimal places with ',' as 1000's separator : 123,456,789.46
    ```

- **Padding and Alignment**: Specify the total width of the formatted output and align the text. This defaults to Left Padding
    ```python
      value1 = 123456789.45678
      print(f"Padded to 20 characters (Defaults to Left Padding): {value1:20.2f}")
    ```
    Output:
    ```
      Padded to 20 characters:         123456789.46
    ```


    However, we can use symbols, for left (`<`), right (`>`), or center (`^`) within the given width:
    ```python
      value1 = 123456789.45678
      value2 = 123.45678
      print(f"Padded to 20 characters (Defaults to Left Padding): {value1:20.2f}")
      print(f"Left-aligned: {value1:<20.2f}")
      print(f"Left-aligned: {value2:<20.2f}")
      print(f"Right-aligned: {value1:>20.2f}")
      print(f"Right-aligned: {value2:>20.2f}")
      print(f"Center-aligned: {value1:^20.2f}")
      print(f"Center-aligned: {value2:^20.2f}")
    ```
    Output:
    ```
      Left-aligned: 123456789.46        
      Left-aligned: 123.46              
      Right-aligned:         123456789.46
      Right-aligned:               123.46
      Center-aligned:     123456789.46    
      Center-aligned:        123.46 
    ```


    Also we can provide padding placeholders (in this case `.`), if the requirement is to fill the padded space.
    ```Python
      value1 = 123456789.45678
      value2 = 123.45678
      print(f"Left-aligned: {value1:.<20.2f}")
      print(f"Left-aligned: {value2:.<20.2f}")
      print(f"Right-aligned: {value1:.>20.2f}")
      print(f"Right-aligned: {value2:.>20.2f}")
      print(f"Center-aligned: {value1:.^20.2f}")
      print(f"Center-aligned: {value2:.^20.2f}")
    ```
    Output:
    ```
      Left-aligned: 123456789.46........
      Left-aligned: 123.46..............
      Right-aligned: ........123456789.46
      Right-aligned: ..............123.46
      Center-aligned: ....123456789.46....
      Center-aligned: .......123.46.......
    ```
- **Formatting Types**: You can specify the type of formatting using a format specifier inside the curly braces. For example, you can use `d` for integers, `f` for floating-point numbers, and `b` for binary:

    ```python
    number = 42
    print(f"As a decimal: {number:d}")
    print(f"As a binary: {number:b}")
    print(f"As a hexadecimal: {number:x}")
    ```

    Output:
    ```
    As a decimal: 42
    As a binary: 101010
    As a hexadecimal: 2a
    ```

### 3. Using String Methods

You can apply string methods directly within the curly braces of an f-string. This is useful for manipulating string data as you format it:

```python
name = "john"
print(f"Capitalized name: {name.capitalize()}")
```

Output:
```
Capitalized name: John
```

In this example, the `capitalize()` method is called directly inside the curly braces, capitalizing the first letter of the string.

### 4. Using Complex Expressions

F-strings can handle more complex expressions, such as list comprehensions, lambda functions, and conditional statements:

```python
numbers = [1, 2, 3, 4, 5]
sum_numbers = sum(numbers)
print(f"The sum of {numbers} is {sum_numbers}")

# Using a conditional expression
number = 3
parity = f"The number {number} is {'even' if number % 2 == 0 else 'odd'}."
print(parity)
```

Output:
```
The sum of [1, 2, 3, 4, 5] is 15
The number 3 is odd.
```

## Best Practices

When working with f-strings, keep the following best practices in mind:

- **Keep expressions concise**: While f-strings support complex expressions, keep them simple for better readability.

- **Be careful with side effects**: If an expression inside an f-string has side effects (e.g., modifying a global variable), consider separating it from the f-string.

- **Be consistent with formatting**: When formatting expressions, use consistent formatting rules to maintain readability and make the code easier to understand.

- **Use comments**: If the f-string contains complex expressions, consider adding comments to explain what the expression is doing.

## Conclusion

Formatted strings, or f-strings, are a powerful and flexible way to work with strings in Python. They simplify the process of string formatting and allow you to embed variables and expressions directly into your strings, making your code more readable and efficient. Whether you're new to Python or an experienced developer, using f-strings can help you write cleaner, more concise code.

Experiment with f-strings in your Python projects to see how they can enhance your code. Happy coding!

---

In [31]:
value1 = 123456789.45678
value2 = 123.45678
print(f"Left-aligned: {value1:.<20.2f}")
print(f"Left-aligned: {value2:.<20.2f}")
print(f"Right-aligned: {value1:.>20.2f}")
print(f"Right-aligned: {value2:.>20.2f}")
print(f"Center-aligned: {value1:.^20.2f}")
print(f"Center-aligned: {value2:.^20.2f}")

Padded to 20 characters (Defaults to Left Padding):         123456789.46
Left-aligned: 123456789.46........
Left-aligned: 123.46..............
Right-aligned: ........123456789.46
Right-aligned: ..............123.46
Center-aligned: ....123456789.46....
Center-aligned: .......123.46.......