In [7]:
def is_even(num: int) -> bool:
    return num%2 == 0

def is_perfect_sq(num: int) -> bool:
    sq_root = num**0.5
    return  sq_root == int(sq_root)

def num_reverse(num: int) -> bool:
    return int(str(num)[::-1])

def is_even_both_ways(num: int) -> bool:
    return is_even(num) and is_even(num_reverse(num))

def is_perfect_sq_both_ways(num: int) -> bool:
    return is_perfect_sq(num) and is_perfect_sq(num_reverse(num))

In [69]:
nums = (_ for _ in range(1, 1000000001))
type(nums)

generator

In [73]:
def is_even(num):
    return num%2==0

def is_even_both_ways(num):
    rev = int(str(num)[::-1])
    return is_even(num) and is_even(rev)

even_nums = filter(is_even_both_ways, nums)
type(even_nums)

filter

In [77]:
def is_perfect_sq(num):
    return int(num**0.5) == num**0.5

def is_perfect_sq_both_ways(num):
    rev = int(str(num)[::-1])
    return is_perfect_sq(num) and is_perfect_sq(rev)

perfect_sqs= filter(is_perfect_sq_both_ways, even_nums)

In [81]:
import itertools as itt
nums_50 = itt.islice(perfect_sqs, 50)

In [79]:
[*nums_50]

[400,
 484,
 676,
 40000,
 40804,
 44100,
 44944,
 48400,
 67600,
 69696,
 698896,
 4000000,
 4008004,
 4040100,
 4048144,
 4080400,
 4088484,
 4410000,
 4418404,
 4452100,
 4494400,
 4840000,
 4848804,
 4884100,
 6760000,
 6948496,
 6969600,
 69889600,
 400000000,
 400080004,
 400400100,
 400480144,
 400800400,
 400880484,
 404010000,
 404090404,
 404412100,
 404492544,
 404814400,
 404894884,
 408040000,
 408444100,
 408848400,
 420578064,
 441000000,
 441084004,
 441420100,
 441840400,
 445210000,
 445294404]

In [82]:
import pandas as pd
df = pd.DataFrame(nums_50)
print(df.head(), df.tail())

           0
0  445632100
1  449440000
2  449864100
3  460875024
4  484000000             0
10  488852100
11  617323716
12  676000000
13  694849600
14  696960000

In [83]:
def is_perfect_square(n):
    root = int(n**0.5)
    return root * root == n

def is_even(n):
    return n % 2 == 0

def reverse_number(n):
    return int(str(n)[::-1])

def find_numbers(limit):
    result = []
    num = 1
    while len(result) < limit:
        if is_even(num) and is_perfect_square(num):
            reversed_num = reverse_number(num)
            if is_even(reversed_num) and is_perfect_square(reversed_num):
                result.append(num)
        num += 1
    return result

# Find the first 50 numbers
first_50_numbers = find_numbers(50)
print(first_50_numbers)

[4, 400, 484, 676, 40000, 40804, 44100, 44944, 48400, 67600, 69696, 698896, 4000000, 4008004, 4040100, 4048144, 4080400, 4088484, 4410000, 4418404, 4452100, 4494400, 4840000, 4848804, 4884100, 6760000, 6948496, 6969600, 69889600, 400000000, 400080004, 400400100, 400480144, 400800400, 400880484, 404010000, 404090404, 404412100, 404492544, 404814400, 404894884, 408040000, 408444100, 408848400, 420578064, 441000000, 441084004, 441420100, 441840400, 445210000]

In [85]:
def is_perfect_square(n):
    root = int(n**0.5)
    return root * root == n

def find_numbers(limit):
    result = []
    num = 0  # Start with 0 as it is even
    while len(result) < limit:
        if is_perfect_square(num):
            reversed_num = int(str(num)[::-1])
            if is_perfect_square(reversed_num) and reversed_num % 2 == 0:
                result.append(num)
        num += 2  # Increment by 2 to ensure the number is even
    return result

# Find the first 50 numbers
first_50_numbers = find_numbers(50)
print(first_50_numbers)

[0, 4, 400, 484, 676, 40000, 40804, 44100, 44944, 48400, 67600, 69696, 698896, 4000000, 4008004, 4040100, 4048144, 4080400, 4088484, 4410000, 4418404, 4452100, 4494400, 4840000, 4848804, 4884100, 6760000, 6948496, 6969600, 69889600, 400000000, 400080004, 400400100, 400480144, 400800400, 400880484, 404010000, 404090404, 404412100, 404492544, 404814400, 404894884, 408040000, 408444100, 408848400, 420578064, 441000000, 441084004, 441420100, 441840400]

In [16]:
import itertools

def is_perfect_square(n):
    root = int(n**0.5)
    return root * root == n

def generate_even_perfect_squares():
    num = 0
    while True:
        if is_perfect_square(num):
            yield num
        num += 2  # Only consider even numbers

def find_first_50():
    results = []
    generator = generate_even_perfect_squares()
    for num in generator:
        reversed_num = int(str(num)[::-1])
        if is_perfect_square(reversed_num) and reversed_num % 2 == 0:
            results.append(num)
            if len(results) == 50:
                break
    return results

# Find the first 50 numbers
first_50_numbers = find_first_50()
print(first_50_numbers)

[0, 4, 400, 484, 676, 40000, 40804, 44100, 44944, 48400, 67600, 69696, 698896, 4000000, 4008004, 4040100, 4048144, 4080400, 4088484, 4410000, 4418404, 4452100, 4494400, 4840000, 4848804, 4884100, 6760000, 6948496, 6969600, 69889600, 400000000, 400080004, 400400100, 400480144, 400800400, 400880484, 404010000, 404090404, 404412100, 404492544, 404814400, 404894884, 408040000, 408444100, 408848400, 420578064, 441000000, 441084004, 441420100, 441840400]

In [71]:
import itertools as itt

def generator_even_nums_and__squares() :
    num = 4
    while True:
        num += 2
        yield num, num**2
        if num >= 100000000: break

def is_even(num) -> bool:
    return num%2 == 0

def rev_num(num):
    return int(str(num)[::-1])

def is_perfect_square_both_ways(num) -> bool:
    rev = rev_num(num)
    root = int(num**0.5)
    rev_root = int(rev**0.5)
    return rev_root * rev_root == rev and root * root == num and is_even(rev)

In [72]:
nums = generator_even_nums_and__squares()
lst = []
while len(lst) <= 30:
    num = next(nums)[0]
    if is_perfect_square_both_ways(num):
        try:
            lst.append(num)
        except StopIteration:
            break

StopIteration:

In [70]:
print(len(lst))
lst

27

[400,
 484,
 676,
 40000,
 40804,
 44100,
 44944,
 48400,
 67600,
 69696,
 698896,
 4000000,
 4008004,
 4040100,
 4048144,
 4080400,
 4088484,
 4410000,
 4418404,
 4452100,
 4494400,
 4840000,
 4848804,
 4884100,
 6760000,
 6948496,
 6969600]

In [29]:
n1[0]

2

In [30]:
import pandas as pd
df = pd.DataFrame(
    {   'String1': ['deedednesses', 'nszszyyyyy', 'reemergences', 'eelnnnn', 'intermittent', 'readdressed', 'xqdww', 'dwqwqqq', 'entitlements'],
        'String2': ['sssdde', 'senselessness', 'reeccccss', 'statelessness', 'inttttt', '', 'sweetnesses', 'deterrences', 'msmsmm']}
)
df

        String1        String2
0  deedednesses         sssdde
1    nszszyyyyy  senselessness
2  reemergences      reeccccss
3       eelnnnn  statelessness
4  intermittent        inttttt
5   readdressed
6         xqdww    sweetnesses
7       dwqwqqq    deterrences
8  entitlements         msmsmm

In [55]:
import collections as col

def word_count(word: str):
    word = list(word)
    return dict(col.Counter(word))

def dict_diff(dict_1: dict, dict_2: dict):
    all_keys = set(dict_1) | set(dict_2)
    dict_3 = {key: abs(dict_1.get(key, 0) - dict_2.get(key, 0)) for key in all_keys}
    dict_3 = {key: value for key, value in dict_3.items() if value != 0}
    return ''.join(f"{key}{value}" for key, value in dict(sorted(dict_3.items())).items())

In [56]:
answer = [dict_diff(word_count(df['String1'][idx]), word_count(df['String2'][idx])) for idx in range(len(df))]
answer

['d1e4n1',
 'e4l1n1s4y5z2',
 'c3e3g1m1n1r1s1',
 'a1e1n3s5t2',
 'e2i1m1n1r1t1',
 'a1d3e3r2s2',
 'd1e4n1q1s4t1w1x1',
 'c1e4n1q4r2s1t1w2',
 'e3i1l1m3n2s1t3']

In [2]:
import pandas as pd
df = pd.DataFrame(
    {
        'String': ['qrelm', 'zelkor', 'tralvion', 'flaxior', 'vorlentis', 'crenovorth', 'nexelvorium', 'gordelvintrex', 'stravonithelph'],
        'Numbers':[[1, 2], [3, 1, 5, 4], [6, 2, 8, 1], [7, 7, 6, 2, 3, 1], [1, 6, 4, 4, 8, 1], [4, 5, 1, 8, 8, 4], [1, 7, 11, 8, 2, 3, 7, 6], [1, 12, 11, 10, 3, 1], [14, 14, 6, 12, 5, 2, 6, 1]
]
    }
)
df

           String                      Numbers
0           qrelm                       [1, 2]
1          zelkor                 [3, 1, 5, 4]
2        tralvion                 [6, 2, 8, 1]
3         flaxior           [7, 7, 6, 2, 3, 1]
4       vorlentis           [1, 6, 4, 4, 8, 1]
5      crenovorth           [4, 5, 1, 8, 8, 4]
6     nexelvorium    [1, 7, 11, 8, 2, 3, 7, 6]
7   gordelvintrex        [1, 12, 11, 10, 3, 1]
8  stravonithelph  [14, 14, 6, 12, 5, 2, 6, 1]

In [3]:
answer = []
for df_idx, num_set in enumerate(df['Numbers']):
    strg = [*df['String'][df_idx]]
    for idx in range(0,len(num_set),2):
        x, y = num_set[idx]-1, num_set[idx+1]-1
        strg[x], strg[y] = strg[y], strg[x]
    answer.append(''.join(strg))
answer

['rqelm',
 'lezkor',
 'lezokr',
 'tialvron',
 'nialvrot',
 'flaxior',
 'foaxilr',
 'aofxilr',
 'norlevtis',
 'norlevtis',
 'iorlevtns',
 'creonvorth',
 'rreonvocth',
 'rrecnvooth',
 'oexelvnrium',
 'oexelvnmiur',
 'oxeelvnmiur',
 'oxeelnvmiur',
 'eordelvintrgx',
 'eordelvinrtgx',
 'roedelvinrtgx',
 'stravonithelph',
 'stravlnitheoph',
 'svratlnitheoph',
 'lvratsnitheoph']