# Introducing DataFrames

## Transforming DataFrames

In [2]:
import pandas as pd

In [27]:
home_df = pd.read_csv(r'.\datasets\homelessness.csv', index_col=0)
print(home_df.shape)

(51, 5)

In [28]:
print(home_df.describe())

         individuals  family_members     state_pop
count      51.000000       51.000000  5.100000e+01
mean     7225.784314     3504.882353  6.405637e+06
std     15991.025083     7805.411811  7.327258e+06
min       434.000000       75.000000  5.776010e+05
25%      1446.500000      592.000000  1.777414e+06
50%      3082.000000     1482.000000  4.461153e+06
75%      6781.500000     3196.000000  7.340946e+06
max    109008.000000    52070.000000  3.946159e+07

In [29]:
home_df.head()

               region       state  individuals  family_members  state_pop
0  East South Central     Alabama       2570.0           864.0    4887681
1             Pacific      Alaska       1434.0           582.0     735139
2            Mountain     Arizona       7259.0          2606.0    7158024
3  West South Central    Arkansas       2280.0           432.0    3009733
4             Pacific  California     109008.0         20964.0   39461588

In [30]:
home_df[['region', 'state']].head()

               region       state
0  East South Central     Alabama
1             Pacific      Alaska
2            Mountain     Arizona
3  West South Central    Arkansas
4             Pacific  California

In [31]:
# Sort home_df by individuals
print(home_df.sort_values(by='individuals', ascending=True).head())
print()
# Sort home_df by region, then descending family members
print(home_df.sort_values(by=['region', 'family_members'], ascending=[True, False]).head())

                region         state  individuals  family_members  state_pop
50            Mountain       Wyoming        434.0           205.0     577601
34  West North Central  North Dakota        467.0            75.0     758080
7       South Atlantic      Delaware        708.0           374.0     965479
39         New England  Rhode Island        747.0           354.0    1058287
45         New England       Vermont        780.0           511.0     624358

                region      state  individuals  family_members  state_pop
13  East North Central   Illinois       6752.0          3891.0   12723071
35  East North Central       Ohio       6929.0          3320.0   11676341
22  East North Central   Michigan       5209.0          3142.0    9984072
49  East North Central  Wisconsin       2740.0          2167.0    5807406
14  East North Central    Indiana       3776.0          1482.0    6695497

In [32]:
# New Columns
# Create indiv_per_10k col as homeless individuals per 10k state pop
home_df["indiv_per_10k"] = 10000 * home_df['individuals'] / home_df['state_pop']

# Subset rows for indiv_per_10k greater than 20
high_home_df = home_df[home_df['indiv_per_10k']>20]

# Sort high_home_df by descending indiv_per_10k
high_home_df_srt = high_home_df.sort_values(by='indiv_per_10k', ascending=False)

# From high_home_df_srt, select the state and indiv_per_10k cols
result = high_home_df_srt[['state', 'indiv_per_10k']]

# See the result
print(result)

                   state  indiv_per_10k
8   District of Columbia      53.738381
11                Hawaii      29.079406
4             California      27.623825
37                Oregon      26.636307
28                Nevada      23.314189
47            Washington      21.829195
32              New York      20.392363

## Aggregating DataFrames