In [1]:
import os
import pandas as pd
os.chdir(r"C:\Users\anshu\OneDrive\Code\Python\Python\Data_Engineering\Professional_Data_Engineer_in_Python\006_Introduction_to_NoSQL\data")
csv_files = [_ for _ in os.listdir() if _.endswith('csv')]
csv_files

['disneyland_reviews_data.csv',
 'london_weather_data.csv',
 'olympics_fact_data.csv']

In [5]:
pd.read_csv('disneyland_reviews_data.csv')

,Review_ID,Rating,Year_Month,Reviewer_Location,Review_Text,Branch
0,670772142,4,2019-4,Australia,If you've ever been to Disneyland anywhere you...,Disneyland_HongKong
1,670682799,4,2019-5,Philippines,Its been a while since d last time we visit HK...,Disneyland_HongKong
2,670623270,4,2019-4,United Arab Emirates,Thanks God it wasn t too hot or too humid wh...,Disneyland_HongKong
3,670607911,4,2019-4,Australia,HK Disneyland is a great compact park. Unfortu...,Disneyland_HongKong
4,670607296,4,2019-4,United Kingdom,"the location is not in the city, took around 1...",Disneyland_HongKong
...,...,...,...,...,...,...
9995,642801343,5,2018-12,United States,Disneyland truly is a magical place! Christmas...,Disneyland_California
9996,642754983,5,2019-1,Australia,"So if you delight in joining 85,000 other folk...",Disneyland_California
9997,642743152,5,2019-1,Spain,we visitied the Disneyland park for 2 days. Ev...,Disneyland_California
9998,642735658,5,2018-11,United States,Disneyland is by far the Happiest Place on Ear...,Disneyland_California
9999,642725959,5,2018-12,India,Disneyland visit on any day is a treat to your...,Disneyland_California

In [3]:
for file in csv_files:
    print(file)
    with open(file) as f:
        ncols = len(f.readline().split(','))
    filename = file[:-4]
    globals()[filename]= pd.read_csv('disneyland_reviews_data.csv', usecols=range(1,ncols))

disneyland_reviews_data.csv
london_weather_data.csv

ValueError: Usecols do not match columns, columns expected but not found: [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
orders_.head(1)

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,city,state,...,postal_code,market,region,product_id,sales,quantity,discount,profit,shipping_cost,order_priority
0,32298,CA-2012-124891,2012-07-31,2012-07-31,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,...,10024.0,US,East,TEC-AC-10003033,2309.65,7.0,0.0,762.1845,933.57,Critical

In [5]:
people = pd.read_csv('people.csv')
people.head(1)

          person   region
0  Anna Andreadi  Central

In [6]:
returns = pd.read_csv('returns.csv')
returns.head(1)

  returned        order_id market
0      Yes  MX-2013-168137  LATAM

In [7]:
products = pd.read_csv('products_.csv', usecols=range(1,5))
products.head(1)

,product_id,category,sub_category,product_name
0,TEC-AC-10003033,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...

In [8]:
orders_.duplicated(subset=['row_id']).sum()

np.int64(0)

In [9]:
people.duplicated(subset=['region']).sum()

np.int64(0)

In [10]:
returns.duplicated().sum()

np.int64(0)

In [11]:
products.duplicated(subset=['product_id']).sum()

np.int64(476)

In [12]:
products.drop_duplicates(subset=['product_id'], inplace=True)
products.duplicated(subset=['product_id']).sum()

np.int64(0)

In [12]:
# import psycopg2
# conn = psycopg2.connect("host='localhost' port='5432' dbname='SuperStore' user='postgres' password='Welcome'")
# cur = conn.cursor()
# # cur.execute("""truncate table "meta".temp_unicommerce_status;""")
# # cur.execute("""Copy temp_unicommerce_status from 'C:\Users\n\Desktop\data.csv';""")
# # conn.commit()
# # conn.close()

In [13]:
# sql = 'SELECT * FROM orders'
# result = cur.execute(sql)

In [13]:
import sqlalchemy
conn_string = 'postgresql://postgres:Welcome@localhost:5432/postgres' #, {"options": - csearch_path="SuperStore"}'
# connect_args = {'options': '- csearch_path=SuperStore'}
engine = sqlalchemy.create_engine(conn_string)
metadata = sqlalchemy.MetaData(schema='SuperStore')
engine.connect()

In [14]:
%load_ext sql

In [15]:
%sql $conn_string

In [16]:
%sql SELECT * FROM pg_catalog.pg_tables where schemaname='SuperStore'

 * postgresql://postgres:***@localhost:5432/postgres
4 rows affected.

[('SuperStore', 'returned_orders', 'postgres', None, False, False, False, False),
 ('SuperStore', 'products', 'postgres', None, True, False, True, False),
 ('SuperStore', 'people', 'postgres', None, True, False, True, False),
 ('SuperStore', 'orders', 'postgres', None, True, False, True, False)]

In [43]:
%sql SELECT * FROM pg_catalog.pg_tables where schemaname = 'DDDM'

 * postgresql://postgres:***@localhost:5432/postgres
5 rows affected.

[('DDDM', 'actors', 'postgres', None, True, False, False, False),
 ('DDDM', 'actsin', 'postgres', None, True, False, False, False),
 ('DDDM', 'movies', 'postgres', None, True, False, False, False),
 ('DDDM', 'customers', 'postgres', None, True, False, False, False),
 ('DDDM', 'renting', 'postgres', None, True, False, False, False)]

In [44]:
%sql SELECT schemaname, tablename FROM pg_tables WHERE tablename = 'people';

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[('SuperStore', 'people')]

In [17]:
%sql SELECT * FROM "SuperStore"."people";

 * postgresql://postgres:***@localhost:5432/postgres
(psycopg2.errors.UndefinedTable) relation "superstore.people" does not exist
LINE 1: SELECT * FROM SuperStore .people;
                      ^

[SQL: SELECT * FROM SuperStore .people;]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [46]:
%sql SELECT grantee, privilege_type FROM information_schema.role_table_grants WHERE table_name = 'people' AND table_schema = 'SuperStore';

 * postgresql://postgres:***@localhost:5432/postgres
7 rows affected.

[('postgres', 'INSERT'),
 ('postgres', 'SELECT'),
 ('postgres', 'UPDATE'),
 ('postgres', 'DELETE'),
 ('postgres', 'TRUNCATE'),
 ('postgres', 'REFERENCES'),
 ('postgres', 'TRIGGER')]

In [47]:
%sql SHOW search_path;

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[('"$user", public',)]

In [53]:
%sql SET search_path to SuperStore

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

In [54]:
%sql SHOW search_path;

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[('superstore',)]

In [31]:
%sql SELECT * FROM orders;

 * postgresql://postgres:***@localhost:5432/postgres
(psycopg2.errors.UndefinedTable) relation "orders" does not exist
LINE 1: SELECT * FROM orders;
                      ^

[SQL: SELECT * FROM orders;]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [27]:
%sql SELECT * FROM "SuperStore"."people";

 * postgresql://postgres:***@localhost:5432/postgres
(psycopg2.errors.UndefinedTable) relation "superstore.people" does not exist
LINE 1: SELECT * FROM SuperStore .people;
                      ^

[SQL: SELECT * FROM SuperStore .people;]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [29]:
%sql SELECT * FROM information_schema.tables WHERE table_name = 'people' AND table_schema = 'SuperStore';

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[('postgres', 'SuperStore', 'people', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)]

In [73]:
%sql CREATE TABLE IF NOT EXISTS products (  product_id text PRIMARY KEY,  category text, sub_category text, product_name text );

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

In [74]:
display(products.head())
products.shape

,product_id,category,sub_category,product_name
0,TEC-AC-10003033,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...
1,FUR-CH-10003950,Furniture,Chairs,"Novimex Executive Leather Armchair, Black"
2,TEC-PH-10004664,Technology,Phones,"Nokia Smart Phone, with Caller ID"
3,TEC-PH-10004583,Technology,Phones,"Motorola Smart Phone, Cordless"
4,TEC-SHA-10000501,Technology,Copiers,"Sharp Wireless Fax, High-Speed"

(10292, 4)

In [75]:
products.to_sql(
    'products',
    con=engine,
    if_exists='replace',
    index=False
)

292

In [76]:
products.shape

(10292, 4)

In [78]:
products.to_csv(r'C:\Users\anshu\OneDrive\Teaching Opportunities\DataCamp\Cleaning Data in PostgreSQL\Data\products.csv')

In [18]:
%sql SELECT * FROM products LIMIT 5;

 * postgresql://postgres:***@localhost:5432/postgres
5 rows affected.

[('TEC-AC-10003033', 'Technology', 'Accessories', 'Plantronics CS510 - Over-the-Head monaural Wireless Headset System'),
 ('FUR-CH-10003950', 'Furniture', 'Chairs', 'Novimex Executive Leather Armchair, Black'),
 ('TEC-PH-10004664', 'Technology', 'Phones', 'Nokia Smart Phone, with Caller ID'),
 ('TEC-PH-10004583', 'Technology', 'Phones', 'Motorola Smart Phone, Cordless'),
 ('TEC-SHA-10000501', 'Technology', 'Copiers', 'Sharp Wireless Fax, High-Speed')]

In [19]:
%sql CREATE TABLE IF NOT EXISTS people ( person text, region text PRIMARY KEY );

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

In [20]:
%sql CREATE TABLE IF NOT EXISTS returned_orders ( returned text, order_id text, market text );

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

In [24]:
%sql CREATE TABLE IF NOT EXISTS orders ( row_id bigint PRIMARY KEY, order_id text, order_date text, ship_date text, ship_mode text, customer_id text, customer_name text, segment text, city text, state text, country text, postal_code text, market text, region text, product_id text, sales double precision, quantity double precision, discount double precision, profit double precision, shipping_cost double precision, order_priority text);

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

In [25]:
returns.to_sql(
    'returned_orders',
    con=engine,
    if_exists='replace',
    index=False
)

173

In [26]:
people.shape

(13, 2)

In [27]:
people.to_sql(
    'people',
    con=engine,
    if_exists='replace',
    index=False
)

13

In [29]:
orders_.shape

(51290, 21)

In [30]:
orders_.to_sql(
    'orders',
    con=engine,
    if_exists='replace',
    index=False
)

290