# Summary of today:
1. Intro to CME 193 ~3min
2. Python Foundations
* Variable 
* Operator
* Strings 
* Control Flow 
* Exception 
* Functions 
* Collections

# CME 193 - Introduction to Scientific Python


## Course Logistics

**Instructor:**  Benson Zu(zuyeyang@stanford.edu)

**Course website:** [cme193.stanford.edu](http://cme193.stanford.edu).
Please check there for any materials related for the course (and let me know if something needs to be updated).

**Class:** We will go over the 50 min workshop together with some post-lectue exercises. Those exericise are good chances to try out what you learn, and ask for help if you're stuck.  You aren't required to submit solutions to the exercises, and should focus on exercises you find most interesting if there are multiple options.

**Homework:** We'll have 2 homeworks, which should not be difficult or time consuming, but a chance to practice what we cover in class. Feel free to discuss the problems with other students in the class, but the final code you submit should be written by you.

**Grading:** This class is offered on a credit/no-credit basis.  Really, you're going to get out of it what you put into it.  My assumption is that you are taking the course because you see it as relevant to your education, and will try to learn material that you see as most important.

**Office hours:** 
12:30pm~1:30 PM on Wednesdays in Huang basement (in front of ICME), 7pm ~ 8pm on Wednesdays Zoom

# Overview of Course

You can find a list of topics we plan to cover on the [course website](http://web.stanford.edu/class/cme193/syllabus.html).  

Here is a tentative list of lectures:
1. Python basics
1. Python Class & Object
1. Linear algebra (NumPy)
1. Numerical algorithms (NumPy)
1. Scientific computing (SciPy)
1. Data science (Pandas)
1. Machine learning (scikit-learn)
1. Deep learning (PyTorch)

The goal of the course is to get you started with using Python for scientific computing.
* We **are** going to cover common packages for linear algebra, optimization, and data science
* We are **not** going to cover all of the Python language, or all of its applications
    * We will cover aspects of the Python language as they are needed for our purposes

This course is designed for
* People who already know how to program (maybe not in Python)
* People who want to use Python for research/coursework in a scientific or engineering discipline for modeling, simulations, or data science

You don't need to have an expert background in programming or scientific computing to take this course.  Everyone starts somewhere, and if your interests are aligned with the goals of the course you should be ok.

# Python

![xkcd_python](https://imgs.xkcd.com/comics/python.png)
(From [xkcd](https://xkcd.com/))

In [ ]:
print("Hello, world!")

In [ ]:
# print value of pi : I am a comment uasing hash mark
# The pi (Ï€ ) is a constant of the math library in Python that returns the value 3.14...
import math
print(math.pi)

In [ ]:
# single and double quotes are interchable
'a' == "a"

# Basic Section (Start)

## Variables

One of the main differences in python compared to other languages you might be familiar with is that variables are not declared and are not strongly typed

In [ ]:
x = 1
print(x)

In [ ]:
x = 1
print(type(x))

In [ ]:
x = 1.0
print(x)
print(type(x))

x = "string"
print(x)
print(type(x))

In [ ]:
1 == 1.0

In [ ]:
x = 1
type(x)

In [ ]:
not True

## Basic Arithmetic

Math Operators:
`+ - * / // % **`

Boolean expressions:
* keywords: `True` and `False` (note capitalization)
- False = 0, True = 1
    - C1 and C2 = min (C1, C2)
    - C1 or C2 = max(C1, C2)
* `==` equals: `5 == 5` yields `True`
* `!=` does not equal: `5 != 5` yields `False`
* `>` greater than: `5 > 4` yields `True`
* `>=` greater than or equal: `5 >= 5` yields `True`
* Similarly, we have `<` and `<=`.

Logical operators:
* `and`, `or`, and `not`
* `True and False`
* `True or False`
* `not True`

In [ ]:
# Dividing 0 is an error
4 / 2

In [ ]:
#The result of regular division is always a float
type(4/2)

In [ ]:
4.0//2 #Floor division

In [ ]:
type(5.0//3) #Floor division #=1 remainder 2

In [ ]:
5.0//3 #Floor Division

In [ ]:
5%3 #Modulus

In [ ]:
4**3 #Exponentiation

In [ ]:
x = 5.0
y = 5

x == y

In [ ]:
print(type(x), type(y))

In [ ]:
x = 5.0
y = 5
print("x == y: " + str(x == y))
print("x is y: " + str(x is y))

#== checks for equality - if the two variables point at values are equal.
#is checks for identity - if the two variables point to the exact same object.

In [ ]:
s = "example"
answer = "example"
print("s == 'example': " + str(s == answer))
print("s is 'example': " + str(s is answer))

In [ ]:
True and False # some other language use '&' for 'and', '|' for 'or' : NOT IN PYTHON

In [ ]:
not 5 == 5.0 #equivalent to 5 != 5.0

## Strings

Concatenation: `str1 + str2`

Printing: `print(str1)`

In [ ]:
str1 = "Alice's numbers are 20 and 52, "
str2 = "and their sum is 72"
str3 = str1 + str2
str3

String Formatting:

In [ ]:
# f-string

x = 20
y = 52
name = "Benson"

#f-string
str1 = f"{name}'s numbers are {x} and {y}, "
str2 = f"and their sum is {x + y}"
str3 = str1 + str2
str3

(Optional) Old School String Format

In [ ]:
str1 = "a: %s" % "string"
print(str1)
str2 = "b: %f, %s, %d" % (1.0, 'hello', 5)
print(str2)
str3 = "c: {}".format(3.14)
print(str3)

In [ ]:
# some methods
str1 = "Hello, World!"
print(str1)
print(str1.upper())
print(str1.lower())

In [ ]:
str1 = str1.lower()
str1

In [ ]:
str1.replace?

In [ ]:
str1.replace('l', 'p')

## Control Flow

If statements:
```python
if condition1:
  statements1
elif condition2:
  statements2
elif condition3:
  statements3
else:
  statements4
```

In [ ]:
x = 3
y = 2

if x == y:
    print("The value of x is the same as value of y")
elif x == 3:
    print("I am here")
    print("x is 3")
else:
    print("x is something else")

**For loops**

In [ ]:
for i in range(4): # default - start at 0, increment by 1
    print(f"{i}, next loop")

In [ ]:
?range

In [ ]:
for i in range(10, 2, -2): # inputs are start, stop, step
    print(i)

**while loops**

In [ ]:
# Find all positive integer whose square < 100
i = 1
while i**2 < 100:
    print(i, i**2)
    i += 1      #i += 1 is the same as i = i + 1
print("Finished")

**continue** - skip the rest of the loop

**break** - exit from the loop

In [ ]:
# distinguish even or odd number
for num in range(1, 10):
    if num % 2 == 0:
        print(f'Found {num}, an even number, Continue!')
        continue # this jumps us back to the top
        print('Test')
        
    print(f"Found {num}, an odd number")

print('Finished')

In [ ]:
for num in range(1, 10):
    if num % 2 == 0: # if n divisible by x
        print(f'Found {num}, an even number, STOP!')
        break
    print(f"Found {num}, an odd number")
print('Finished')

In [ ]:
#continue/break statement only continue/breaks its direct parent loop statement
for i in range(3):
    print(f"Outer Loop i {i}") 
    for j in range(3):
      print(f"\tj: {j}") 
      break
      print("End of inner loop")
    #jump to here after break

**pass** does nothing

In [ ]:
#The pass statement is used as a placeholder for future code!!
for num in range(7):
    if num == 5:
        #TODO: Add more code for the  case num = 5
        pass
    print(f'Iteration: {num}')

# Basic Section (End)

# Exceptions

In [ ]:
print(100 / 0)

print(100 / 10)

In [ ]:
benson

In [ ]:
try:
    print(100 / name )
except ZeroDivisionError:
    print("Error: don't divided by zero")
except Exception as e:
    print(f"Error: {e}")

print(100/10)

# Functions

Functions are declared with the keyword `def`

In [ ]:
# def tells python you're trying to declare a function
def triangle_area(base, height):
    #here are operations
    #part of function
    #etc
    return 0.5 * base * height

triangle_area(-1, 2)

In [ ]:
def triangle_area(base, height):
    if base < 0 or height < 0:
        raise ValueError("Base and height must be non-negative")
    return 0.5 * base * height

triangle_area(-1, 2)

In [ ]:
def triangle_area(base, height):
    try: 
      if base < 0 or height < 0:
          raise ValueError("Base and height must be non-negative")
      return 0.5 * base * height
    except ValueError as e_value:
      print(f"Error, {e_value}, Try a different non-negative value")
    except Exception as e:
      print(f"Error, {e}")

triangle_area('-2', 'hello')

In [ ]:
triangle_area('string', 2)

In [ ]:
# add type hint
def triangle_area(base: int, height: int):
  """
    Function to calculate Area of Triangle
    Accepts:  base * height or triangle as int
    Returns:  Area of Triangle as int
  """
  try: 
    if base < 0 or height < 0:
        raise ValueError("Base and height must be non-negative")
    return 0.5 * base * height
  except ValueError as error:
    print(f"Error, {error}, Try a different value")
  except Exception as e:
    print(f"Error, {e}")

triangle_area(-1, 2)

In [ ]:
?triangle_area

In [ ]:
from typing import Union

def triangle_area(base: Union[int, float], height: Union[int, float]):
    try: 
      if base < 0 or height < 0:
          raise ValueError("Base and height must be non-negative")
      return 0.5 * base * height
    except ValueError as error:
      print(f"Error, {error}, Try a different value")
    except Exception as e:
      print(f"Error, {e}")
triangle_area(4, 2)

In [ ]:
from typing import Union

Union[int, float]

In [ ]:
?triangle_area

In [ ]:
?range

In [ ]:
from typing import Union

def triangle_area(base: Union[int, float], height: Union[int, float]):
    '''
    Description: Triangle_area is a function that calculate the area of an triangle shape
    Input: 
      - base: non-negative numeric input
      - height: non-negative numeric input
    Output:
      - area  = 1/2 * base * height
    '''
    try: 
      if base < 0 or height < 0:
          raise ValueError("Base and height must be non-negative")
      return 0.5 * base * height
    except ValueError as error:
      print(f"Error, {error}, Try a different value")
    except Exception as e:
      print(f"Error, {e}")

triangle_area('string', 2)

In [ ]:
?triangle_area

In [ ]:
def triangle_area(base, height):
    return 0.5 * base * height

triangle_area(1, 2)

(Self-study: )
1. Function can have multiple outputs
2. Function input can also be a function
3. Function input can have default values

In [ ]:
# return multiple outputs
def simple(a,b):
    return a,b

simple(1,2)

In [ ]:
# everything in python is an object, and can be passed into a function
def f(x):
    return x+2

def twice(g,x):
    return g(g(x))

twice(f,2) # + 4

In [ ]:
def n_apply(f, x, n):
    """applies f to x n times"""
    for _ in range(n):  # _ is dummy variable in iteration
        print(f'x={x} {_}')
        x = f(x)
    return x

n_apply(f, 1, 5) # 1 + 2*5

In [ ]:
def h(a, b, x=3,y=2):
    return a * x + b*y

In [ ]:
h(1,1,y=1) #equivalent to h(1,1,3,1)

# Exercise 1

(10 minutes)

1. Print every power of 2 less than 10,000
2. Write a function that takes two inputs, $a$ and $b$ and returns the value of $a+2b$
3. Write a function takes a number $n$ as input, and prints all [Fibonacci numbers](https://en.wikipedia.org/wiki/Fibonacci_number) less than $n$

In [ ]:
def power_2(n):
  [print(f'{_} ^ 2 = {_**2}') for _ in range(n)]

power_2(10)

In [ ]:
def a_2b(a,b):
  return a+(2*b)

a_2b(2,2)

In [ ]:
def fibo(n):
  x,y=0,1
  for _ in range(n):
    x,y=y, x+y
  return(x)

fibo(100)

# Lists

A list in Python is an ordered (and indexed) collection of objects

In [ ]:
# heterogeneous types
a = ['x', 1, 3.5]
print(a)
a[0]

You can iterate over lists in a very natural way

In [ ]:
for word in a:
    print(word)

Python indexing starts at 0.

In [ ]:
# mutable
a[1] = "overwritten"
a

In [ ]:
#can even put functions and other lists inside of lists!
def f(x):
    return x

b = [f, [1,2,2.1]]
print(b)

You can append to lists using `.append()`, and do other operations, such as `pop()`, `insert()`, etc.

Python terminology:
* a list is a "class"
* the variable `a` is an object, or instance of the class
* `append()` is a method

In [ ]:
?a.append

In [ ]:
a = []
for i in range(10):
    a.append(i)
    # a[:-1]=' '
    print(a)

In [5]:
a = []
for i in range(10):
    a.append(i)
    print('   '*i,i)
print(a)

 0
    1
       2
          3
             4
                5
                   6
                      7
                         8
                            9
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
while len(a) > 0:
    elt = a.pop()
    print(f"Removed {elt}, a is now {a}")

Removed 9, a is now [0, 1, 2, 3, 4, 5, 6, 7, 8]
Removed 8, a is now [0, 1, 2, 3, 4, 5, 6, 7]
Removed 7, a is now [0, 1, 2, 3, 4, 5, 6]
Removed 6, a is now [0, 1, 2, 3, 4, 5]
Removed 5, a is now [0, 1, 2, 3, 4]
Removed 4, a is now [0, 1, 2, 3]
Removed 3, a is now [0, 1, 2]
Removed 2, a is now [0, 1]
Removed 1, a is now [0]
Removed 0, a is now []

(Self-study): 
1. How to insert an element at a specific index of list
2. How to append all element in a list into another list

In [7]:
# Insert a value at a specific index
a = [1,2,3]
a.insert(1,'new value')
print(a)

[1, 'new value', 2, 3]

In [8]:
# Append all element inside a list into another list
a = [1,2,3]
b = ["x", "y"]
a.extend(b) #same as a+b
print(a)

[1, 2, 3, 'x', 'y']

In [9]:
a+b

[1, 2, 3, 'x', 'y', 'x', 'y']

Lists in python are only implicitly collections of the objects that constitute them. Setting one array equal to another can lead to unexpected results:

In [11]:
a = [1, 2, 3]
# b = a.copy() # shallow
b = a 
print(f"original a:, {a}")
print(f"original b:, {b}")
b[0] = "edited"
print("after edit...")
print(f"a:, {a}")
print(f"b:, {b}")

original a:, [1, 2, 3]
original b:, [1, 2, 3]
after edit...
a:, ['edited', 2, 3]
b:, ['edited', 2, 3]

In [12]:
a.copy?

Signature: a.copy()
Docstring: Return a shallow copy of the list.
Type:      builtin_function_or_method

A list only stores some pointers to locations in your computer's memory: when we wrote `b = a` Python created a new list `b` which shares its entries with `a`. 

The function `.copy()` will create a completely distinct copy with new objects.

## List Comprehensions

Python's list comprehensions let you create lists in a way that is reminiscent of set notation

$$ S = \{ x^2 ~\mid~ 0 \le x \le 20, x\mod 3 = 0\}$$

In [17]:
%%timeit
S= []
for x in range(2100):
    if x % 3 == 0:
        S.append(x**2)
S

192 Âµs Â± 1.43 Âµs per loop (mean Â± std. dev. of 7 runs, 10,000 loops each)

Syntax is generally
```python3
S = [<elt> <for statement> <conditional>]
```

In [21]:
S = [x**2 for x in range(21) if x % 3 == 0]
S

[0, 9, 36, 81, 144, 225, 324]

In [22]:
S

[0, 9, 36, 81, 144, 225, 324]

In [24]:
S = [0,2,3,4,5,1,0]

In [29]:

[(str(v)+'yes') if v == 1 else (str(v)+'no') if v == 2 else (str(v)+'idlea') for v in S]

['0idlea', '2no', '3idlea', '4idlea', '5idlea', '1yes', '0idlea']

(Self-study)Try yourself with nested for loop~

In [30]:
S = []
for i in range(2):
    for j in range(2):
        for k in range(2):
            if (i + j + k)%2 == 0:
                S += [(i,j,k)]

S

[(0, 0, 0), (0, 1, 1), (1, 0, 1), (1, 1, 0)]

In [31]:
# you aren't restricted to a single for loop
S = [(i,j,k) for i in range(2) for j in range(2) for k in range(2) if (i + j + k)%2 == 0]
S

[(0, 0, 0), (0, 1, 1), (1, 0, 1), (1, 1, 0)]

# Other Collections

We've seen the `list` class, which is ordered/indexed, and mutable.  There are other Python collections that you may find useful:
* `tuple` which is ordered/indexed, and immutable
* `set` which is unordered/unindexed, mutable, and doesn't allow for duplicate elements
* `dict` (dictionary), paired, which is unordered/unindexed, and mutable, with no duplicate keys.

In [35]:
a_tuple = (1, 2, 4)
print(a_tuple)
# a_tuple[0] = 3  # TypeError: 'tuple' object does not support item assignment

(1, 2, 4)

In [37]:
a_set = {5, 3, 2, 5}
print(a_set)
# print(a_set[0]) # TypeError: 'set' object is not subscriptable

{2, 3, 5}

In [38]:
a_set.add(6)
print(f"After adding 6,   a_set:{a_set}")
a_set.remove(6)
print(f"After removing 6, a_set:{a_set}")

After adding 6,   a_set:{2, 3, 5, 6}
After removing 6, a_set:{2, 3, 5}

In [39]:
a_dict = {} # {key0: value0, key1: value1}
a_dict[2] = 12 # dict[key] = value
a_dict["key_2"] = 'str'
a_dict["key_3"] = [13, "value"]
a_dict

{2: 12, 'key_2': 'str', 'key_3': [13, 'value']}

In [40]:
print(a_dict[2])
print(a_dict.get(2))

12
12

In [41]:
a_dict_copy = {2: 'new value', 'key_2': 28, 'key_3': [13, 'value']}
a_dict_copy

{2: 'new value', 'key_2': 28, 'key_3': [13, 'value']}

(Optional) More Advanced Collections in Python
* [`OrderedDict`](https://docs.python.org/3/library/collections.html#ordereddict-objects) Dict ordered by keys
* [`deque`](https://docs.python.org/3/library/collections.html#deque-objects): double-ended queue (generalization of stack and queue)
* [`heapq`](https://docs.python.org/3/library/heapq.html) Priority Queue

# Exercise 2

**Lists**
1. Create a list `['a', 'b', 'c']`
2. use the `insert()` method to put the element `'d'` at index 1
3. use the `remove()` method to delete the element `'b'` in the list

**List comprehensions**
1. What does the following list contain?
```python 
X = [i for i in range(100)]
```
2. Interpret the following set as a list comprehension:
$S_1 = \{x\in X \mid x\mod 5 = 2\}$
3. Intepret the following set as a list comprehension: $S_2 = \{x \in S_1 \mid x \text{ is even}\}$
4. generate the set of all tuples $(x,y)$ where $x\in S_1$, $y\in S_2$.

**Other Collections**
1. Try creating another type of collection
2. try iterating over it.

In [45]:
lst = ['a', 'b', 'c']
print(lst)
lst.insert(1, 'd')
print(lst)
lst.remove('b')
print(lst)

['a', 'b', 'c']
['a', 'd', 'b', 'c']
['a', 'd', 'c']

In [50]:
X = [i for i in range(100)]
print(X)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [52]:
S1 = [x for x in X if x % 5 == 2]; print(S1)

[2, 7, 12, 17, 22, 27, 32, 37, 42, 47, 52, 57, 62, 67, 72, 77, 82, 87, 92, 97]

In [53]:
S2 = [i for i in S1 if i%2==0]; print(S2)

[2, 12, 22, 32, 42, 52, 62, 72, 82, 92]

In [54]:
lst1 = [(x,x) for i in S1 if x in S1 and x in S2]
print(lst1)

[]