# Check the venv being used

In [1]:
import sys
sys.prefix

'c:\\Users\\anshu\\OneDrive\\Code\\Python\\Python\\Ultimate Data Science with Gen AI\\venv'

In [2]:
1+1

2

# Syntax

### Comments

In [ ]:
# Single Line Comment

'''
Multi line comments
'''

"""
Multi
Line
Comment
"""

'\nMulti\nLine\nComment\n'

### Variables

In [12]:
first_name = 'Anshu'
last_name = 'Bantra'
age = 50
height = 5.8
alive = True

In [6]:
first_name

'Anshu'

In [ ]:
print(first_name)

Anshu

In [8]:
id(first_name)

1474215446832

In [9]:
id(last_name)

1474215454848

In [ ]:
# Data Types
print(f'{type(first_name)=}')
print(f'{type(age)=}')
print(f'{type(height)=}')
print(f'{type(alive)=}')

type(first_name)=<class 'str'>
type(age)=<class 'int'>
type(height)=<class 'float'>
type(alive)=<class 'bool'>

In [18]:
# Type Casting
int(height)

5

In [19]:
str(age)

'50'

In [20]:
float(first_name)

ValueError: could not convert string to float: 'Anshu'

In [21]:
int('ten')

ValueError: invalid literal for int() with base 10: 'ten'

### Input

In [22]:
input('What is your age? ')

'50'

In [23]:
var = input('What is your age? ')
print(var, type(var))

50 <class 'str'>

In [29]:
def get_int(s):
    try:
        s = int(s)
        return s
    except:
        var_type = type(s)
        return f'Cannot convert {var_type} to int'

In [30]:
get_int('10')

10

In [31]:
get_int('Anshu')

"Cannot convert <class 'str'> to int"