# Misc

In [ ]:
for _ in list(range(10)):
    print(_)

0
1
2
3
4
5
6
7
8
9

In [ ]:
lst = None
for _ in lst or []:
    print(_)

In [ ]:
https://rajansahu713.medium.com/dynamic-sql-query-formation-with-jinja-template-113b2ef28134

from jinja2 import Template

query_str = """SELECT * FROM products where
    {% if product_stock >= 1000 %} performance = 'bad' 
    {% elif product_stock >= 300 and product_stock < 1000 %} performance = 'average' 
    {% else %} performance = 'good'
    {% endif %}
"""
template = Template(query_str)
query = template.render(product_stock=999)
query

"SELECT * FROM products where\n     performance = 'average' \n    "

In [ ]:
from jinja2 import Template

query_str = """SELECT * FROM users WHERE{% if user_age >= 18 %} adult >= True {% else %} adult = False {% endif %};"""
template = Template(query_str)
query = template.render(user_age=30)
query

'SELECT * FROM users WHERE adult >= True ;'

In [ ]:
from jinja2 import Template

query_str = """SELECT *
        FROM products where 
        {% if product_category == "Electronics" %}
            product_category = '{{product_category}}'
            {% if product_price > 500 %}
                product_type = 'expensive' 
            {% else %}
                product_type = 'normal'
            {% endif %}
        {% else %}
            product_category = 'Others'
        {% endif %}
"""
template = Template(query_str)
query = template.render(product_category="Electronics", product_price=450)
print(query)

SELECT *
        FROM products where

            product_category = 'Electronics'

                product_type = 'normal'

In [ ]:
from jinja2 import Template
query_str = """SELECT *
        FROM orders
        WHERE order_id IN (
        {% for order_id in order_ids %}
            {{ order_id }},
        {% endfor %}
        )
"""

template = Template(query_str)
query = template.render(order_ids=[1234, 5678, 9012])
print(query)

SELECT *
        FROM orders
        WHERE order_id IN (

            1234,

            5678,

            9012,

        )

In [ ]:
import pandas as pd

# Define the data
data = {
    "Birds": ["Dove", "Duck", "Eagle", "Hen", "Parrot", "Peacock", "Stork", "Swan"],
    "New York": [87, 42, 53, 42, 74, 10, 85, 54],
    "Los Angeles": [66, 68, 83, 47, 34, 91, 68, 80],
    "Chicago": [95, 77, 70, 95, 76, 62, 27, 94],
    "Houston": [50, 91, 70, 28, 47, 20, 36, 36],
    "Philadelphia": [76, 94, 99, 96, 67, 77, 99, 99]
}

# Create a dataframe
df = pd.DataFrame(data)

# Display the dataframe
print(df)

     Birds  New York  Los Angeles  Chicago  Houston  Philadelphia
0     Dove        87           66       95       50            76
1     Duck        42           68       77       91            94
2    Eagle        53           83       70       70            99
3      Hen        42           47       95       28            96
4   Parrot        74           34       76       47            67
5  Peacock        10           91       62       20            77
6    Stork        85           68       27       36            99
7     Swan        54           80       94       36            99

In [ ]:
[', '.join(list(df[df.iloc[:,_] == df.iloc[:,_].max()]['Birds'].values)) for _ in range(1, len(list(df)))]

['Dove', 'Peacock', 'Dove, Hen', 'Duck', 'Eagle, Stork, Swan']

In [ ]:
pd.DataFrame(
    {
        'City': list(df.columns)[1:]
        , 'Max':[list(df[df.iloc[:,_] == df.iloc[:,_].max()]['Birds'].values) for _ in range(1, len(list(df)))]
    }
)

           City                   Max
0      New York                [Dove]
1   Los Angeles             [Peacock]
2       Chicago           [Dove, Hen]
3       Houston                [Duck]
4  Philadelphia  [Eagle, Stork, Swan]

# What is OOP?

### Cheat Sheet
| **Term** | **Definition** |
|--------|---------------|
Class | A blueprint / temnplate used to build objects
Object | A combination of data and functionality; An instance of a class
State | Data associated with an object, assigned through attributes
Behaviour | An object's functionality, defined through methods

## Class Anatomy

### Attributes and Methods

In [5]:
class Customer:
    # Code for class goes here
    def set_name(self, name):
        self.name = name

    def identify(self):
        print(f'I am Customer {self.name}')

In [7]:
c_one = Customer()
c_one.set_name('Laura')
c_one.identify()
c_two = Customer()
c_two.set_name('Tom')
c_two.identify()

I am Customer Laura
I am Customer Tom

In [8]:
class Employee:
    def set_name(self, new_name):
        self.name = new_name
    
    # Add set_salary() method  
    def set_salary(self, new_salary):
        self.salary = new_salary

emp = Employee()

# Use set_name to set the name of emp to 'Korel Rossi'
emp.set_name('Korel Rossi')

# Set the salary of emp to 50000
emp.set_salary(50000)

# Print the emp object's salary
print(emp.salary)

50000

In [9]:
class Employee:
    def set_name(self, new_name):
        self.name = new_name

    def set_salary(self, new_salary):
        self.salary = new_salary 

    # Add a give_raise() method with amount as an argument
    def give_raise(self, amount):
        self.salary = self.salary + amount

# Create the emp object
emp = Employee()
emp.set_name('Korel Rossi')
emp.set_salary(50000)

# Print the salary
print(emp.salary)

# Give emp a raise of 1500
emp.give_raise(1500)
print(emp.salary)

50000
51500

### the __init__ constructor

In [ ]:
class Customer:
    '''
        Customer class
    '''
    def __init__(self, name, balance = 0) -> None:
        self.name = name
        self.balance = balance

In [11]:
cust = Customer('Lara Croft')
print(cust.name)

Lara Croft

In [12]:
# Define and initialize the Calculator class
class Calculator:
    def __init__(self, num_one, num_two):
        self.num_one = num_one
        self.num_two = num_two
    
    # Create the addition method
    def addition(self):
        return self.num_one + self.num_two
    
    # Create the subtraction method
    def subtraction(self):
        return self.num_one - self.num_two
    
    # Create the multiplication method
    def multiplication(self):
        return self.num_one * self.num_two

In [13]:
calc = Calculator(2, 3)
print(calc.addition())

5

In [14]:
print(calc.multiplication())

6

## Inheritance and Polymorphism

#### Class vs Instance Attributes

In [16]:
class Employee:
    '''
        Employee Class
    '''
    MIN_SALARY = 30000

    def __init__(self, name, salary) -> None:
        self.name = name
        self.salary = salary if salary > Employee.MIN_SALARY else Employee.MIN_SALARY

emp1 = Employee('E1', 234)
print(f'Employee {emp1.name} has a salary of {emp1.salary}')

Employee E1 has a salary of 30000

In [17]:
class Player:
    MAX_POSITION = 10
    
    # Define a constructor
    def __init__(self, position):
        
        # Check if position is less than the class-level attribute value
        self.position = position if position <= Player.MAX_POSITION else Player.MAX_POSITION

# Create a Player object, p, and print its MAX_POSITITON
p = Player(6)
print(p.MAX_POSITION)

10

In [18]:
# Create Players p1 and p2
p1 = Player(9)
p2 = Player(5)

print("MAX_POSITION of p1 and p2 before assignment:")
# Print p1.MAX_POSITION and p2.MAX_POSITION
print(p1.MAX_POSITION)
print(p2.MAX_POSITION)

# Assign 7 to p1.MAX_POSITION
p1.MAX_POSITION = 7

print("MAX_POSITION of p1 and p2 after assignment:")
# Print p1.MAX_POSITION and p2.MAX_POSITION
print(p1.MAX_POSITION)
print(p2.MAX_POSITION)

MAX_POSITION of p1 and p2 before assignment:
10
10
MAX_POSITION of p1 and p2 after assignment:
7
10

#### Class Methods

In [19]:
class Person:
    CURRENT_YEAR = 2024
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    # Add a class method decorator
    @classmethod
    # Define the from_birth_year method
    def from_birth_year(cls, name, birth_year):
        # Create age
        age = cls.CURRENT_YEAR - birth_year
        # Return the name and age
        return cls(name, age)

bob = Person.from_birth_year("Bob", 1990)
print(bob.name, bob.age)

Bob 34

In [62]:
class Employee:
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary
        
    @classmethod
    def from_file(cls, filename):
        with open(filename, "r") as f:
            while True:
                name = f.readline().strip()
                salary = f.readline().strip()
                if not name or not salary: break
                yield cls(name, int(salary))

In [63]:
for employee in Employee.from_file('Employee.txt'):
    print(f'{employee.name} has a salary of {employee.salary}')

John Smith has a salary of 40000
John Tri-Volta has a salary of 60000

In [64]:
emp_lst = [employee for employee in Employee.from_file('Employee.txt')]
len(emp_lst)

2

In [65]:
emp_lst[1].name

'John Tri-Volta'

In [37]:
class BetterDate:
    def __init__(self, year, month, day):
        self.year, self.month, self.day = year, month, day
        
    # Define a class method from_str
    @classmethod
    def from_str(cls, datestr):
        # Split the string at "-"
        parts = datestr.split("-")
        year, month, day = int(parts[0]), int(parts[1]), int(parts[2])
        # Return the class instance
        return cls(year, month, day)

# Create the xmas object      
xmas = BetterDate.from_str("2024-12-25")   
print(xmas.year)
print(xmas.month)
print(xmas.day)

2024
12
25

#### Inheritance

In [66]:
class Employee:
    MIN_SALARY = 30000    

    def __init__(self, name, salary=MIN_SALARY):
        self.name = name
        if salary >= Employee.MIN_SALARY:
            self.salary = salary
        else:
            self.salary = Employee.MIN_SALARY
            
    def give_raise(self, amount):
        self.salary += amount      
        
# Define a new class Manager inheriting from Employee
class Manager(Employee):
    # Add a keyword to leave this class empty
    pass

# Define a Manager object
mng = Manager('Debbie Lashko', 86500)

# Print mng's name
print(mng.name)

Debbie Lashko

In [67]:
class Employee:
    def __init__(self, name, salary=30000):
        self.name = name
        self.salary = salary

    def give_raise(self, amount):
        self.salary += amount

class Manager(Employee):
    # Add a constructor 
    def __init__(self, name, salary=50000, project=None):
        
        # Call the parent's constructor   
        Employee.__init__(self, name, salary)
        
        # Assign project attribute
        self.project = project

    def display(self):
        print("Manager ", self.name)

In [ ]:
class Employee:
    def __init__(self, name, salary=30000):
        self.name = name
        self.salary = salary

    def give_raise(self, amount):
        self.salary += amount

class Manager(Employee):
    def display(self):
        print("Manager ", self.name)

    def __init__(self, name, salary=50000, project=None):
        Employee.__init__(self, name, salary)
        self.project = project

    # Add a give_raise method
    def give_raise(self, amount, bonus=1.05):
        new_amount = amount * bonus
        Employee.give_raise(self, new_amount)
    
mngr = Manager("Ashta Dunbar", 78500)
mngr.give_raise(2000, bonus=1.03)
print(mngr.salary)

80560.0

In [73]:
class Player:
    MAX_POSITION = 10

    def __init__(self):
        self.position = 0

    def move(self, steps):
        if self.position + steps < Player.MAX_POSITION:
            self.position += steps 
        else:
            self.position = Player.MAX_POSITION  

# Create a Racer class inheriting from Player
class Racer(Player):
    # Create MAX_POSITION with a value of 15
    # MAX_POSITION = 15
    pass

# Create a Player and a Racer objects
p = Player()
r = Racer()

print("p.MAX_POSITION = ", p.MAX_POSITION)
print("r.MAX_POSITION = ", r.MAX_POSITION)

p.MAX_POSITION =  10
r.MAX_POSITION =  10

## Integrating with Standard Python

### Operator Overloading

In [74]:
class Customer:
    def __init__(self, name, balance, acc_id) -> None:
        self.name = name
        self.balance = balance
        self.acc_id = acc_id

c1 = Customer('John Smith', 3000, 123)
c2 = Customer('John Smith', 3000, 123)

In [76]:
print(f'c1 = {c1}')
print(f'c2 = {c2}')
c1 == c2

c1 = <__main__.Customer object at 0x000001B903B18590>
c2 = <__main__.Customer object at 0x000001B90315B890>

False

In [77]:
lst_1 = [1, 2, 3]
lst_2 = [1, 2, 3]
lst_1 == lst_2

True

In [89]:
class Customer:
    def __init__(self, name, balance, acc_id) -> None:
        self.name = name
        self.balance = balance
        self.acc_id = acc_id
    
    def __eq__(self, other) -> bool:
        return (self.acc_id == other.acc_id) and (self.name == other.name) and (type(self) == type(other))

c1 = Customer('John Smith', 3000, 123)
c2 = Customer('John Smith', 3000, 123)
c3 = Customer('John Smith', 3000, 127)

In [86]:
c1 == c2

True

In [87]:
c1 == c3

False

In [88]:
c1 == 123

AttributeError: 'int' object has no attribute 'acc_id'

Operator | Method
---------|---------
== | __eq__
!= | __ne__
\>= | __ge__
\<= | __le__
\> | __gt__
< | __lt__

In [90]:
class BankAccount:
    def __init__(self, number, balance=0):
        self.number, self.balance = number, balance
        
    def withdraw(self, amount):
        self.balance -= amount 

    # Modify to add a check for the class type
    def __eq__(self, other):
        return (self.number == other.number) and (type(self) == type(other))

class Phone:
    def __init__(self, number) -> None:
        self.number = number

acct = BankAccount(873555333)
pn = Phone(873555333)

# Check if the two objects are equal
print(acct == pn)

False

### Inheritance comparison and string representation

In [97]:
class Customer:
    def __init__(self, name, balance, acc_id) -> None:
        self.name = name
        self.balance = balance
        self.acc_id = acc_id
    
    def __repr__(self) -> str:
        return f"Customer('{self.name}, {self.balance})"

    def __str__(self) -> str:
        return f"""Customer ==>
            name = {self.name}
            balance = {self.balance}"""

In [98]:
c1 = Customer('John Smith', 30000, 123)

In [99]:
c1

Customer('John Smith, 30000)

In [100]:
print(c1)

Customer ==>
            name = John Smith
            balance = 30000

### Exceptions

In [101]:
5 + 'a'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [102]:
try:
    5 + 'a'
except TypeError:
    print('Different types cannot be added')
except ZeroDivisionError:
    print('Cannot be divided by 0')
finally:
    print('It\'s done!')

Different types cannot be added
It's done!

In [103]:
class BalanceError(Exception):
    pass

In [104]:
class Customer:
    def __init__(self, name, balance, acc_id) -> None:
        self.name = name
        if balance < 0:
            raise(BalanceError)
        else:
            self.balance = balance
        self.acc_id = acc_id
    
    def __repr__(self) -> str:
        return f"Customer('{self.name}, {self.balance})"

    def __str__(self) -> str:
        return f"""Customer ==>
            name = {self.name}
            balance = {self.balance}"""

In [107]:
cust_1 = Customer('John Smith', -90, 123)

BalanceError:

In [108]:
cust_1

NameError: name 'cust_1' is not defined

In [109]:
try:
    cust_1 = Customer('John Smith', -90, 123)
except BalanceError:
    cust_1 = Customer('John Smith', 0, 123)

In [ ]:
cust_1.balance

0

In [113]:
class SalaryError(ValueError): 
    pass
class BonusError(SalaryError): 
    pass

class Employee:
    MIN_SALARY = 30000
    MAX_BONUS = 5000

    def __init__(self, name, salary = 30000):
        self.name = name    
        if salary < Employee.MIN_SALARY:
            raise SalaryError("Salary is too low!")      
        self.salary = salary
        
    # Raise exceptions  
    def give_bonus(self, amount):
        if amount > Employee.MAX_BONUS:
            raise BonusError("The bonus amount is too high!")  
            
        elif self.salary + amount <  Employee.MIN_SALARY:
            raise SalaryError("The salary after bonus is too low!")
        
        self.salary += amount